@import url("reset.css");
@import url("prettify.css");

/* ------ layout
-----------------------------------------------*/
/*
@font-face {
    font-family: 'MelbourneRegular';
    src: url('../f/melbourne_reg-webfont.eot');
    src: url('../f/melbourne_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/melbourne_reg-webfont.woff') format('woff'),
         url('../f/melbourne_reg-webfont.ttf') format('truetype'),
         url('../f/melbourne_reg-webfont.svg#MelbourneRegular') format('svg');
}
*/

html, body {
margin:0;
padding:0;
}

body {
font-family:Arial, Verdana, Helvetica, sans-serif;
font-size:13px;
color:#191919;
height:100%;
width:100%;
}

#content {
padding:0px;
width:900px;
height:750px;
}

#content .wrapper-inside {
padding:0;
width:900px;
background:url(../images/wrapper-inside_bg.jpg) repeat 0 0 #456a8b;
}

#content .clear {
clear:both;
}

#carbonads-container,
.carbonad {
float:left;
clear:both;
width:400px !important;
}

.carbonad {
background:#fefefe !important;
border:none !important;
height:auto !important;
margin-bottom:15px !important;
padding-bottom:15px !important;
border-bottom:none !important;
position:relative !important; 
}

.carbonad-image {
float:left !important;
width:130px !important;
}

.carbonad-image img {
margin:0 !important;
}

.carbonad-text {
width:250px !important;
padding-top:0 !important;
float:left !important;
}

.carbonad-text a {
color:#111 !important;
}

.carbonad-tag {
margin-top:-10px !important;
}


/* ------ heading
-----------------------------------------------*/

h1, h2, h3, h4, h5, .return  {
font-family:'MelbourneRegular', Arial, Verdana, Helvetica, sans-serif;
text-transform:uppercase;
font-weight:normal;
}

h1, .return {
position:absolute;
left:0;
background:#191919;
padding:10px;
z-index:999;
}

h1 {
top:80px;
font-size:28px;
color:#f5f5f5;
}

.return {
top:134px;
font-size:16px;
color:#eee !important;
}

.carbon {
position:absolute;
top:80px;
right:80px;
}


/* ------ links
-----------------------------------------------*/
a:link, a:visited {
color:#111;
text-decoration:none;
}

a:hover {
text-decoration:none;
}
