.alertDialog{
    position: relative;
    overflow: hidden;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 0 15px;
    margin-bottom: 10px;
}

.alertDialog .close {
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -12px;
    color: inherit;

    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;

    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}