@charset "UTF-8";
/*
CSS Document
Written by Rene Morgan
for BayardAd.com
*/

body#trucking .stack1, body#trucking .stack2, body#trucking .stack3, body#trucking .stack4, body#trucking .stack5, body#trucking .stack6, body#trucking .stack7, body#trucking .stack8 {
display:block;
}
ul.recruiters { 
border: 0 none;
height: auto;
margin: 0;
padding: 0;
position: relative;
left:370px;
width: 610px;
display:none;
}
ul.recruiters li {
font: 13px/1.618em "Georgia", serif;
list-style:none;
margin:0px 0 20px 0;
padding:0;
text-align: left;
display:inline;
border-bottom:1px solid #ccc;
float:left;
}
ul.recruiters li a { text-decoration:none; color:#1E89F1; }
ul.recruiters li a:hover { text-decoration:underline; }
ul.recruiters li.name {
padding: 0 0 20px 4px;
text-align: left;
width:246px;
display:inline;
float:left;
}
ul.recruiters li.name strong {
font-size:14px;
}
ul.recruiters li.fax {
display: block;
float: left;
margin: 0;
width: 16%;
 }
/* On-Section States */
body#swift .leftnavGlobal #section1_ln li a.our_story { background:url("../i/ln_swiftdiff_170x177.png") no-repeat scroll 0 -74px transparent; }
body#swift .stack3 .leftnavGlobal #section1_ln li a.our_story { background:url("../i/ln_swiftdiff_170x177.png") no-repeat scroll 0 -61px transparent; }
body#swift .stack3 .leftnavGlobal #section1_ln li a.swift_history { background:url("../i/ln_swiftdiff_170x177.png") no-repeat scroll 0 -116px transparent; }
body#swift .stack3 .leftnavGlobal #section1_ln li a.our_story:hover { background:url("../i/ln_swiftdiff_170x177.png") no-repeat scroll 0 -74px transparent; }
body#career .stack9 .leftnavGlobal #section2_ln li a.mentors { background:url("../i/ln_careerpaths_141x164.png") no-repeat scroll 0 -108px transparent; }
body#career .leftnavGlobal { padding-top:18px; }
body#career .leftnavGlobal #section2_ln li a.career_paths { background:url("../i/ln_careerpaths_141x164.png") no-repeat scroll 0 -63px transparent; }
body#career .stack9 .leftnavGlobal #section2_ln li a.career_paths { background:url("../i/ln_careerpaths_141x164.png") no-repeat scroll 0 -49px transparent; }
body#offices .stack2 .leftnavGlobal #section3_ln li a.comfort_zones { background:url("../i/ln_officesterms_163x222.png") no-repeat scroll 0 -123px transparent; }
body#offices .leftnavGlobal #section3_ln li a.terminal_map { background:url("../i/ln_officesterms_163x222.png") no-repeat scroll 0 -80px transparent; }
body#offices .stack3 .leftnavGlobal #section3_ln li a.terminal_map { background:url("../i/ln_officesterms_163x222.png") no-repeat scroll 0 -65px transparent; }
body#offices .stack3 .leftnavGlobal #section3_ln li a.terminal_map:hover { background:url("../i/ln_officesterms_163x222.png") no-repeat scroll 0 -80px transparent; }
body#offices .stack2 .leftnavGlobal #section3_ln li a.terminal_map:hover { background:url("../i/ln_officesterms_163x222.png") no-repeat scroll 0 -80px transparent; }
body#offices .stack2 .leftnavGlobal #section3_ln li a.terminal_map { background:url("../i/ln_officesterms_163x222.png") no-repeat scroll 0 -65px transparent; }
body#offices .leftnavGlobal { padding-top:18px; }
body#trucking .stack5 .leftnavGlobal #section4_ln li a.driving_schools { background:url("../i/ln_newtrucking_140x210-2.png") no-repeat scroll 0 -65px transparent; }
body#trucking .stack8 .leftnavGlobal #section4_ln li a.comp_bene { background:url("../i/ln_newtrucking_140x210-2.png") no-repeat scroll 0 -174px transparent; }
body#trucking .stack13 .leftnavGlobal #section4_ln li a.hiring_events { background:url("../i/ln_newtrucking_140x210-2.png") no-repeat scroll 0 -279px transparent; }
body#trucking .veterans-stack .leftnavGlobal #section4_ln li a.for_veterans { background:url("../i/ln_newtrucking_140x210-2.png") no-repeat scroll 0 -112px transparent; }


body#ownerops .stack3 #section6_ln li a.lease_prog { background:url("../i/ln_ownerops_149x267.png") no-repeat scroll 0 -70px transparent; }
body#ownerops .lcol .leftnavGlobal ul#section6_ln li a.reqs { background:url("../i/ln_ownerops_149x267.png") no-repeat scroll 0 -99px transparent; }
body#ownerops .lcol .leftnavGlobal ul#section6_ln li a.reqs:hover { background:url("../i/ln_ownerops_149x267.png") no-repeat scroll 0 -116px transparent; }
body#ownerops .leftnavGlobal ul#section6_ln li a.reqs { background:url("../i/ln_ownerops_149x267.png") no-repeat scroll 0 -116px transparent; }
body#ownerops .stack3 div.leftnavGlobal ul#section6_ln li a.reqs { background:url("../i/ln_ownerops_149x267.png") no-repeat scroll 0 -99px transparent;  }
body#ownerops .stack3 div.leftnavGlobal ul#section6_ln li a.reqs:hover { background:url("../i/ln_ownerops_149x267.png") no-repeat scroll 0 -116px transparent; }
body#ownerops .stack8 div.leftnavGlobal ul#section6_ln li a.reqs { background:url("../i/ln_ownerops_149x267.png") no-repeat scroll 0 -99px transparent; }
body#ownerops .stack8 .leftnavGlobal #section6_ln li a.reqs:hover { background:url("../i/ln_ownerops_149x267.png") no-repeat scroll 0 -116px transparent; }
body#ownerops .stack8 .leftnavGlobal #section6_ln li a.comp_bene { background:url("../i/ln_ownerops_149x267.png") no-repeat scroll 0 -184px transparent }
body#expdrivers .stack2 .leftnavGlobal #section5_ln li a.driving_schools { background:url("../i/ln_expdrivers_133x277.png") no-repeat scroll 0 -126px transparent; }
body#expdrivers .stack5 .leftnavGlobal #section5_ln li a.comp_bene { background:url("../i/ln_expdrivers_133x277.png") no-repeat scroll 0 -192px transparent; }
body#apply .stack2 .leftnavGlobal #section7_ln li a#contact.contact_recruiter { background:url("../i/ln_applynow_151x380.png") no-repeat scroll 0 -73px transparent; }
body#offices .stack3 .leftnavGlobal #section3_ln li a.contact_recruiter { background:url("../i/ln_officesterms_163x222.png") no-repeat scroll 0 -166px transparent; }

/* SWIFT DIFFERENCE
----------------------------------------*/
body#swift .maincontent .stack1 { width:960px; height:460px; position:relative; top:32px; background:url(../i/saltshaker_drawing.png) no-repeat 330px 270px; margin-bottom:60px; }
body#swift img.childpool { position:absolute; right:0; top:430px; }
body#swift img.uniform { position:absolute; left:60px; top:500px; }
body#swift img.woodbox { position:absolute; left:0px; top:930px; }
body#swift img.crossthatch { position:absolute; left:0; top:2230px; }
body#swift img.latch { position:absolute; left:240px; top:1360px; }
body#swift img.truckdrawing { position:absolute; left:0px; top:2574px; }
body#swift img.employees { position:absolute; right:0px; top:2357px; }
body#swift img.employees_circle { position:relative; left:240px; top:50px; margin:50px 0 10px; }
body#swift img.miles_circle { position:relative; left:240px; margin:70px 0 -40px; }
body#swift img.equipment_circle { position:relative; left:120px; margin:110px 0 0px 0; }
body#swift img.earnings_circle { margin:114px 0 0; }
body#swift img.terminal_circle { margin:-20px 0 0px 0; }
body#swift img.usamap { display:block; margin:0; position:relative; top:-50px; }
body#swift hr.separator { background:url(../i/hr_separator_swift.jpg) repeat-x; border:0; margin:0; padding:0; width:960px; clear:both; height: 10px; }
body#career img.mentoring { position:absolute; right:0; top:430px; z-index:5; }
body#career img.book { position:absolute; left:33px; top:1260px; }
body#expdrivers img.poolside { position:absolute; right:0; top:1474px; z-index:2; }
body#expdrivers img.truckdriver { position:absolute; left:60px; top:432px; }
body#apply img.swifttruck { position:absolute; left:0px; top:392px; display:none; }

body#swift .maincontent .stack1 h2 { color:#2d3c52; font:normal 27px MyriadProSemiboldCondensed, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; left:100px; position:relative; text-transform:uppercase; margin-bottom:0; }
.noMar{margin-top:-84px; margin-bottom:0px;}
body#swift .stack1 h3 { font:normal 16px/24px "Georgia", serif; width:700px; color:#65645f; position:relative; left:100px; }
body#swift .stack1 h4 { font:bold 16px/1.618em Rockwell, "Georgia", serif; margin:74px 0 0 500px; color:#333; }
body#swift .stack1 p { position:relative; left:230px; width:648px; color:#504b46; }
body#swift .stack1 span.listitems { position:relative; left:270px; display:block; width:260px; z-index:100; font-weight:bold; margin-top:20px; }

body#swift .stack2 { position:relative; margin-bottom:320px; }
body#swift .stack2 strong { display:block; position:relative; margin:24px 0px 0px 368px; font:bold 16px/1.618em Rockwell, "Georgia", serif; }
body#swift .stack2 p { display:block; position:relative; left:368px; width:300px;  color:#504b46; line-height:1.618em; font-family:FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; }
body#swift .stack2 strong.left186px { margin-left:186px; }
body#swift .stack2 strong.left186px.sp { margin-top:100px; }
body#swift .stack2 p.left186px { left:186px; margin-bottom:60px; }
body#swift .stack2 strong.left236px { margin-left:236px; }
body#swift .stack2 p.left236px { left:236px; margin-bottom:60px; }
body#swift .stack2 div { position:absolute; top:390px; margin-left:216px; }
body#swift .stack2 div img.cap { margin:60px auto; display:block; position:relative; left:300px; margin:40px auto; }

body#swift .stack3 { display:block; position:relative; top:142px; margin:0; background:url(../i/capcolor_drawing.png) no-repeat 100px 400px; height:634px; width:960px; }
body#swift .stack3 h2 { color:#2d3c52; font:normal 27px MyriadProSemiboldCondensed, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; left:118px; position:relative; text-transform:uppercase; top:32px; margin-bottom:38px; }
body#swift .stack3 h3 { font:normal 16px/24px "Georgia", serif; width:720px; color:#65645f; position:relative; left:118px; margin-bottom:100px; top:40px; }
body#swift .stack3 strong { display:block; margin-left:390px; font:bold 16px/1.618em Rockwell, "Georgia", serif; }
body#swift .stack3 p { width:484px; margin-left:390px; margin-bottom:24px; color:#504b46; font:normal 12px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; }

body#swift .stack4 { width:960px; height:920px; margin-top:230px; background:url(../i/swift_nearbottom_bg.jpg) repeat 0 0; position:relative; }
body#swift .stack4 .l { width:560px; margin-top:20px; }
body#swift .stack4 .r { position:absolute; top:290px; left:610px; }
body#swift .stack4 .r p { margin:0; position:relative; top:10px; }

body#swift .stack4 h3 { margin-left:240px; font:27px MyriadProSemiboldCondensed,FSAlbertRegular,Arial,Verdana,"MS Trebuchet"; color:#504430; padding-top:58px; position:relative; top:20px; text-transform:uppercase; }
body#swift .stack4 p { color:#666; font:normal 14px/1.618em Rockwell,"Georgia"; margin-left:240px; width:290px; position:relative; top:50px; }
body#swift .stack4 p.equip { margin-left:120px; width:360px; position:relative; top:10px; 	}


/* EXPERIENCED DRIVERS
----------------------------------------*/
body#expdrivers .stack1 {     background: url("../i/driver.png") no-repeat scroll 349px 219px rgba(0, 0, 0, 0); height: 874px; position: relative; width: 960px;}
body#expdrivers .stack1 h2 { margin-bottom:59px; position:relative; left:150px; top:32px; }
body#expdrivers .stack1 h3 { font:normal 16px/24px "Georgia", serif; width:770px; color:#65645f; position:relative; left:152px; margin-top:0px; }

/*.bonus{
	position:absolute;
	background:url(../i/bonus.png) no-repeat;
	top:20px;
	left:285px;
	width:115px;
	height:115px;
}*/

body#expdrivers .stack1 .desc { display:block; left:600px; top:240px; width:270px; position:absolute; }
body#expdrivers .stack1 .desc a {  }
body#expdrivers .stack1 .desc strong { display:block; font:bold 16px/1.618em Rockwell,"Georgia", serif; }
body#expdrivers .stack1 .desc p { color:#504b46; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-bottom:20px; }
body#expdrivers hr.separator { background:url(../i/hr_separator_expdrivers.jpg) repeat-x; border:0; margin:0; padding:0; width:960px; clear:both; height: 10px; }

body#expdrivers .stack2 { margin-top:114px; }
body#expdrivers .stack2 h2 { text-transform:uppercase; margin-bottom:44px; position:relative; left:100px; top:58px; }
body#expdrivers .stack2 h3 { font:normal 16px/24px "Georgia", serif; width:770px; color:#65645f; position:relative; left:100px; margin-top:90px; margin-bottom:40px; }
body#expdrivers .stack2 .leftnavGlobal { margin-top:26px; }

body#expdrivers .stack3 { margin:0; padding:0; }
body#expdrivers .stack3 strong { display:block; position:relative; margin-left:372px; font:bold 16px/1.618em Rockwell,"Georgia", serif; }
body#expdrivers .stack3 p { color:#504b46; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-left:372px; width:500px; position:relative; z-index:10; margin-bottom:20px; }

body#expdrivers .stack4 { width:538px; height:540px; background:url(../i/crossthatch_bg_expdrivers.gif) no-repeat 0 -46px; padding-top:100px; margin-top:-50px; }
body#expdrivers .stack4 strong { display:block; position:relative; margin-left:140px; font:bold 16px/1.618em Rockwell,"Georgia", serif; }
body#expdrivers .stack4 p { color:#504b46; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-left:140px; width:406px; margin-bottom:20px;}

body#expdrivers .stack5 { position:relative; margin-top:24px; margin-bottom:156px; }
body#expdrivers .stack5 .leftnavGlobal { margin-top:25px; }
body#expdrivers .stack5 h2  { color:#2d3c52; font:normal 27px MyriadProSemiboldCondensed, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; width:700px; text-transform:uppercase; margin-bottom:44px; position:relative; left:100px; top:58px; }
body#expdrivers .stack5 h3 { font:normal 16px/24px "Georgia", serif; width:770px; color:#65645f; position:relative; left:100px; margin-top:90px; margin-bottom:70px; }
body#expdrivers .stack5 strong { display:block; position:relative; margin-left:374px; font:bold 16px/1.618em Rockwell,"Georgia", serif; }
body#expdrivers .stack5 p { color:#504b46; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-left:374px; width:406px; margin-bottom:20px; }
body#expdrivers .stack5 a { text-decoration:none; }

/* CAREER PATHS
----------------------------------------*/
body#career hr.separator { background:url(../i/hr_separator_career.jpg) repeat-x 0 0; width:960px; height:11px; margin:20px 0; padding:0; border:0; }
body#career .stack1 { width:960px; height:500px; background:url(../i/drawing_cup.jpg) no-repeat 710px 216px; }
body#career .stack1 h2 { width:670px; height:56px; margin-bottom:90px; position:relative; left:100px; top:32px; }
body#career .stack1 h3 { font:normal 16px/24px "Georgia", serif; width:700px; color:#65645f; position:relative; left:100px; margin-top:0px; }

body#career .stack2 { width:346px; height:330px; display:block; position:relative; background:url(../i/circle_drivers.png) no-repeat top left; left:222px; top:-40px; }
body#career .stack2 strong { display:block; margin-left:110px; padding-top:66px; font:bold 16px/1.618em Rockwell,"Georgia", serif; color:#333; }
body#career .stack2 p { display:block; margin-left:110px; color:#4b4844; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; }

body#career .stack3 { width:346px; height:330px; display:block; position:relative; background:url(../i/circle_flatbed.png) no-repeat top left; left:118px; }
body#career .stack3 strong { display:block; margin-left:110px; padding-top:66px; font:bold 16px/1.618 Rockwell,"Georgia", serif; }
body#career .stack3 p { display:block; margin-left:110px; color:#4b4844; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; }

body#career .stack4 { width:346px; height:330px; display:block; position:relative; background:url(../i/circle_dedicated.png) no-repeat top left; left:245px; }
body#career .stack4 strong { display:block; margin-left:110px; padding-top:66px; font:bold 16px/1.618 Rockwell,"Georgia", serif; }
body#career .stack4 p { display:block; margin-left:110px; color:#4b4844; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; }

body#career .stack5 { width:346px; height:330px; display:block; position:relative; background:url(../i/circle_academy.png) no-repeat top left; left:246px; top:40px; }
body#career .stack5 strong { display:block; margin-left:110px; padding-top:66px; font:bold 16px/1.618 Rockwell,"Georgia", serif; }
body#career .stack5 p { display:block; margin-left:110px; color:#4b4844; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; }

body#career .stack6 { width:346px; height:330px; display:block; position:absolute; top:410px; left:545px; background:url(../i/circle_mentors.png) no-repeat top left; z-index:10; }
body#career .stack6 strong { display:block; margin-left:110px; padding-top:66px; font:bold 16px/1.618 Rockwell,"Georgia", serif; }
body#career .stack6 p { display:block; margin-left:110px; color:#4b4844; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; }

body#career .stack7 { width:346px; height:330px; display:block; position:absolute; background:url(../i/circle_ownerops.png) no-repeat top left; right:56px; top:864px; }
body#career .stack7 strong { display:block; margin-left:110px; padding-top:66px; font:bold 16px/1.618 Rockwell,"Georgia", serif; }
body#career .stack7 p { display:block; margin-left:110px; color:#4b4844; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; width:224px; }

body#career .stack8 { width:346px; height:330px; display:block; position:absolute; right:56px; top:1300px; }
body#career .stack8 strong { display:block; margin-left:110px; padding-top:66px; font:bold 16px/1.618 Rockwell,"Georgia", serif; }
body#career .stack8 p { display:block; margin-left:110px; color:#4b4844; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; width:240px; }

body#career .stack9 { width:960px; padding-top:54px; }
body#career .stack9 div { margin-top:40px; }
body#career .stack9 h2 { width:780px; height:52px; left:100px; top:36px; position:relative; margin-bottom:98px; }
body#career .stack9 h3 { font:normal 16px/24px "Georgia", serif; color:#65645f; width:500px; padding-left:374px; }
body#career .stack9 .leftnavGlobal { margin-top:44px; padding-top:18px; }

body#career .stack10 { background:url(../i/driverlesson_bg_career.jpg) no-repeat center left; width:916px; height:600px; margin-top:50px; position:relative; }
body#career .stack10 strong { display:block; margin-left:408px; padding-top:66px; font:bold 16px/1.618 Rockwell,"Georgia", serif; }
body#career .stack10 p { display:block; margin-left:408px; color:#4b4844; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; width:280px; margin-bottom:20px; }
body#career .stack10 div.findamentor { position:absolute; right:-44px; top:-28px; background:url(../i/findamentor_bg.gif) no-repeat right 150px; display:block; width:216px; height:380px; }
body#career .stack10 .findamentor img { display:block; }
body#career .stack10 .findamentor .btn { margin-left:26px; margin-top:48px; display:none; }

/* APPLY NOW
----------------------------------------*/
/* regulations popup */
body#apply .regulations { background:transparent url(../i/popup_bg.png) no-repeat 0 0; border:0; display:none; margin:0; position:absolute; width:719px; height:653px; z-index:50; padding:0; top:-35px; left:200px; }
body#apply .regulations.override { background:transparent url(../i/popup_bg.png) no-repeat 0 0; border:0; display:none; margin:0; position:absolute; width:719px; height:653px; z-index:50; padding:0; top:100px; left:200px; }
body#apply .regulations a.selected { background-color:#1F75CC; color:white; }
body#apply .regulations .inner { background-color: white; height: 623px; margin: 15px auto 0 17px; padding: 0; width: 690px; }
body#apply .regulations .inner ul#reg { margin:30px 0 40px 80px!important; padding:0; }
body#apply .regulations .inner ul#reg li { list-style:none; line-height:7px; margin:0 !important; }
body#apply .regulations .inner ul#reg li a { display:inline; text-indent:1px; background:url(../i/icons/pdf_icon.png) no-repeat left center; padding-left:34px; color:#3366cc; font:normal 12px/24px FSAlbert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; text-decoration:none; }
body#apply .regulations a.close { background:url(../i/icons/close_x.png) no-repeat 0 0; width:14px; height:14px; display:block; text-indent:-1000em; position:relative; left:664px; top:14px; }
body#apply .regulations p.hed { font:normal 23px/26px MyriadProSemiboldCondensed, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#2d3c52; width:476px; text-transform:uppercase; position:relative; left:74px; margin-top:40px; margin-bottom:38px; }
body#apply .regulations p { font:normal 12px/1.618em FSAlbert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#333; width:560px; position:relative; left:74px; margin-bottom:14px; }

body#apply .stack1 .desc a.apply_online { background:url(../i/applyonline_btn.jpg); display:block; width:140px; height:30px; text-indent:-1000em; margin-left:18px; margin-bottom:29px; float:left;}
body#apply .stack1 .desc a.download_form { background:url(../i/downloadform_btn.jpg); display:block; width:140px; height:30px; text-indent:-1000em; margin-left:118px; }
body#apply .stack1 { width:960px; height:950px; background:url(../i/applynow_portraits.jpg) no-repeat bottom center; position:relative; margin-bottom:20px; }
body#apply .stack1 h2 { background:url(../i/driveforswift_title.png) no-repeat 0 0; width:309px; height:19px; margin-bottom:44px; text-indent:-1000em; position:relative; left:370px; top:40px; }
body#apply .stack1 h3 { font:normal 16px/24px "Georgia", serif; width:770px; color:#65645f; position:relative; left:102px; margin-top:92px; }
body#apply .stack1 .desc { display:block; left:350px; top:184px; width:430px; height:250px; position:absolute;}
.apply_online_graphic{width:99px; height:100px; display:block; background:url(../i/circle_graphics_applynow_d.jpg) no-repeat center left; float:left; }
.apply_online_graphic2{width:99px; height:100px; display:block; background:url(../i/circle_graphics_applynow_oo.jpg) no-repeat center left; float:left; clear:left;}
body#apply .stack1 .desc a { text-decoration:none; }
body#apply .stack1 .desc strong { display:block; font:bold 16px/1.618em Rockwell,"Georgia", serif; margin:8px 0 3px 20px; color:#333; float:left; }
body#apply .stack1 .desc p { color:#504B46; font:normal 12px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-left:20px; margin-bottom:10px; display:block; float:left; }
body#apply hr.separator { background:url(../i/hr_separator_expdrivers.jpg) repeat-x; border:0; margin:0; padding:0; width:960px; clear:both; height: 10px; }
body#apply .stack1 .desc img { margin-left:118px; margin-top:0px; margin-bottom:36px; }

body#apply .stack2 { margin-top:120px; /*background:url(../i/applynow_mapusa.jpg) no-repeat 346px 364px;*/ height:940px; }
body#apply .leftnavGlobal { height:330px; }
body#apply .stack2 .leftnavGlobal { margin-top:20px; }
body#apply .stack2 h2 { background:url(../i/contactrecruiter_title.png) no-repeat 0 0; width:203px; height:20px; margin-bottom:44px; text-indent:-1000em; position:relative; left:370px; top:58px; }
body#apply .stack2 h3 { font:normal 16px/24px "Georgia", serif; width:760px; color:#65645f; position:relative; left:100px; margin-top:110px; }
body#apply .stack2 ul.info { width:500px; margin:0; padding:0; position:relative; left:374px; top:-96px; }
body#apply .stack2 ul.info li { display:inline-block; width:250px; float:left; margin:0; padding:0; }
body#apply .stack2 ul.info li strong { font:normal 16px/42px RockwellStdBold,"Georgia", serif; color:#000; }
body#apply .stack2 ul.info li p { color:#555; font:normal 15px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin:0; padding:0; }
body#apply .stack2 ul.info li span { font-weight:bold; color:#115296; }

body#apply .stack3 { margin:0; padding:0; }
body#apply .stack3 strong { display:block; position:relative; margin-left:368px; color:#333; font:bold 16px/1.618em Rockwell,"Georgia", serif; margin-bottom:3px; }
body#apply .stack3 p { color:#504b46; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-left:372px; width:500px; position:relative; z-index:10; }

body#apply .stack4 { width:538px; height:622px; background:url(../i/crossthatch_bg_expdrivers.gif) no-repeat 0 -46px; padding-top:100px; margin-top:-50px; }
body#apply .stack4 strong { display:block; position:relative; margin-left:140px; color:#333; font:bold 16px/1.618em Rockwell,"Georgia", serif; margin-bottom:3px; }
body#apply .stack4 p { color:#504b46; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-left:140px; width:406px; }
body#apply .stack4 a { text-decoration:none; }

body#apply .stack5 { position:relative; margin-top:20px; margin-bottom:156px; }
body#apply .stack5 h2 { background:url(../i/themilestomake_tile.png) no-repeat 0 0; width:442px; height:52px; margin-bottom:44px; text-indent:-1000em; position:relative; left:370px; top:58px; }
body#apply .stack5 h3 { font:normal 16px/24px "Georgia", serif; width:770px; color:#65645f; position:relative; left:100px; margin-top:90px; margin-bottom:70px; }
body#apply .stack5 strong { display:block; position:relative; margin-left:374px; color:#333; font:bold 16px/1.618em Rockwell,"Georgia", serif; margin-bottom:3px; }
body#apply .stack5 p { color:#504b46; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-left:374px; width:406px; }
body#apply .stack5 a { text-decoration:none; }


/* OFFICES AND TERMINALS
----------------------------------------*/
body#offices iframe#map { position:relative; left:28px; top:-95px; margin:0; padding:0; border:0;}
body#offices .stack1 { width:960px; height:874px; position:relative; margin-bottom:20px; }
body#offices .stack1 h2 { margin-bottom:80px; position:relative; left:100px; top:32px; }
body#offices .stack1 h3 { font:normal 16px/24px "Georgia", serif; width:770px; color:#65645f; position:relative; left:102px; margin-top:0px; }
body#offices .stack1 p.sm { font:bold 12px FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; top:13px; left:100px; position:relative; }
body#offices hr.separator { background:url(../i/hr_separator_expdrivers.jpg) repeat-x; border:0; margin:0; padding:0; width:960px; clear:both; height: 10px; }

body#offices .stack2 { margin-top:-34px; height:862px; }
body#offices .stack2 h2 { margin-bottom:80px; margin-top:174px; position:relative; left:100px; top:32px; }
body#offices .stack2 h3 { font:normal 16px/24px "Georgia", serif; width:760px; color:#65645f; position:relative; left:100px; margin-top:0px; }
body#offices .stack2 ul.info { width:500px; margin:0; padding:0; position:relative; left:374px; top:-70px; }
body#offices .stack2 ul.info li { display:inline-block; width:250px; float:left; margin:0; padding:0; }
body#offices .stack2 ul.info li strong { font:bold 16px/1.618em Rockwell,"Georgia", serif; }
body#offices .stack2 ul.info li p { color:#222; font:normal 15px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin:0; padding:0; }
body#offices .stack2 ul.info li span { font-weight:bold; }
body#offices .stack2 p { color:#afa79f; font:bold 16px/1.618em Rockwell,"Georgia",serif; margin:20px 0 20px 374px; padding:0; }
body#offices .stack2 span.greensquare { background:url(../i/greensquare.jpg) no-repeat 0 0; width:10px; height:10px; display:inline-block; }
body#offices .stack2 span.bluesquare { background:url(../i/bluesquare.jpg) no-repeat 0 0; width:10px; height:10px; display:inline-block; }
body#offices .stack2 img.czmap { display:block; top:56px; left:350px; position:relative; }

body#offices .stack3 { margin-top:138px; /*background:url(../i/applynow_mapusa.jpg) no-repeat 346px 364px;*/ height:940px; }
body#offices .stack3 h2 { margin-bottom:80px; position:relative; left:100px; top:34px; }
body#offices .stack3 h3 { font:normal 16px/24px "Georgia", serif; width:760px; color:#65645f; position:relative; left:100px; margin-top:0px; }
body#offices .stack3 ul.info { width:500px; margin:0; padding:0; position:relative; left:374px; top:-70px; }
body#offices .stack3 ul.info li { display:inline-block; width:250px; float:left; margin:0; padding:0; }
body#offices .stack3 ul.info li strong { font:normal 16px/42px RockwellStdBold,"Georgia", serif; color:#333; }
body#offices .stack3 ul.info li p { color:#555; font:normal 15px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin:0; padding:0; }
body#offices .stack3 ul.info li span { font-weight:bold; color:#115296; }

body#offices .stack4 { width:538px; height:622px; background:url(../i/crossthatch_bg_expdrivers.gif) no-repeat 0 -46px; padding-top:100px; margin-top:-50px; }
body#offices .stack4 strong { display:block; position:relative; margin-left:140px; color:#333; font:bold 16px/1.618em Rockwell,"Georgia", serif; margin-bottom:3px; }
body#offices .stack4 p { color:#504b46; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-left:140px; width:406px; }
body#offices .stack4 a { text-decoration:none; }

body#offices .stack5 { position:relative; margin-top:20px; margin-bottom:156px; }
body#offices .stack5 h2 { margin-bottom:44px; position:relative; left:100px; top:58px; }
body#offices .stack5 h3 { font:normal 16px/24px "Georgia", serif; width:770px; color:#65645f; position:relative; left:100px; margin-top:90px; margin-bottom:70px; }
body#offices .stack5 strong { display:block; position:relative; margin-left:374px; color:#333; font:bold 16px/1.618em Rockwell,"Georgia", serif; margin-bottom:3px; }
body#offices .stack5 p { color:#504b46; font:normal 11px/1.618em FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; margin-left:374px; width:406px; }
body#offices .stack5 a { text-decoration:none; }

/* OWNER OPERATORS
----------------------------------------*/
body#ownerops hr.separator { background:url(../i/hr_separator_expdrivers.jpg) repeat-x; border:0; margin:0; padding:0; width:960px; clear:both; height: 10px; }
body#ownerops img.swiftdrivers { position:absolute; top:2058px; left:40px; }
body#ownerops #section6_ln { margin-left:60px; }
body#ownerops .stack1 { position:relative; top:34px; }
body#ownerops h2.title, body#ownerops .stack2 h2.title, body#ownerops .stack3 h2.title, body#ownerops .stack6 h2.title, body#ownerops .stack8 h2.title { width:78%; position:relative; left:100px; margin-bottom:46px; }
body#ownerops .stack1 h3, body#ownerops .stack2 h3, body#ownerops .stack3 h3, body#ownerops .stack6 h3, body#ownerops .stack8 h3 { font:normal 16px/24px "Georgia", serif; color:#65645F; width:81%; position:relative; left:100px; }
body#ownerops .stack2 { background:url(../i/swiftdriver_drawing_ownerops2.jpg) no-repeat right 40px; width:960px; height:726px; position:relative; }
body#ownerops .stack2 div { position:absolute; left:0; top:114px; width:960px; height:348px; background:url(../i/circle_drawing_ownerops.jpg) no-repeat 72px 148px; }
body#ownerops .stack2 p { font:normal 11px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; width:25%; position:relative; left:374px; margin-bottom:20px; }
body#ownerops p { font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; }
body#ownerops .stack2 strong { font:normal 16px/1.618em RockwellStdBold, "Georgia", serif; color:#333; position:relative; left:374px; }
body#ownerops .stack2 div.applywnow { width:360px; height:100px; position:absolute; top:432px; left:264px;}
body#ownerops .stack2 div.applywnow .apply_now_link{width:95px; height:95px; display:block; background:url(../i/circle_applynow_ownerops.jpg) no-repeat top left;}
body#ownerops .stack2 div.applywnow p { top:-49px; left:110px; width:230px; }
body#ownerops .stack3 div { position:relative; top:100px; margin-top:72px; height:500px;}
body#ownerops .stack3 .leftnavGlobal { margin-top:7px; }
body#ownerops .stack4 { background:url(../i/employee_drawing1_ownerops.jpg) no-repeat 88px 0; width:960px; height:374px; position:relative; margin-top:202px; }
body#ownerops .stack4 div { position:relative; margin-left:174px; margin-top:12px; }
body#ownerops .stack4 strong { font:normal 16px RockwellStdBold, "Georgia", serif; color:#333; position:relative; left:-4px;  width:374px; display:block; margin-bottom:20px; margin-top:100px; }
body#ownerops .stack4 div ul#stack4 { margin:0; padding:0; list-style-position:inside; }
body#ownerops .stack4 div ul#stack4 strong.types { font-size:14px; margin:0 0 1em; }
body#ownerops .stack4 div ul#stack4 li span { font-weight:bold; color:#333; }
body#ownerops .stack4 div ul#stack4 li { background:url(../i/bullet_grey.jpg) no-repeat left 7px; list-style:none; padding-left:10px; width:300px; font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; margin-bottom:4px; }
body#ownerops .stack5 { position:relative; left:222px; width:738px; height:694px; }
body#ownerops .stack5 .col1, body#ownerops .stack5 .col2 { float:left; }
body#ownerops .stack5 .col1 { width:190px; margin-right:100px; }
body#ownerops .stack5 .col2 { width:275px; margin-right:0; position:relative; left:32px; }
body#ownerops .stack5 .col2 p { font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; }
body#ownerops .stack5 strong { font:normal 16px RockwellStdBold, "Georgia", serif; margin-top:78px; margin-bottom:24px;  display:block; }
body#ownerops .stack5 ul { margin:0 0 0 5px; padding:0; }
body#ownerops .stack5 ul li { background:url(../i/bullet_grey.jpg) no-repeat left 7px; list-style:none; padding-left:10px; font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; margin-bottom:4px; width:190px; }
body#ownerops .stack6 { margin-top:172px; }
body#ownerops .stack6 .leftnavGlobal { margin-top:-32px; }
body#ownerops .stack6 div {  height:354px;  margin-left:0px; }
body#ownerops .stack6 div p { width:500px; margin-left:100px; }
body#ownerops .stack7 { position:relative; left:80px; width:960px; height:600px; top:-100px; background:url("../i/employeechat_mono_ownerops2.jpg") no-repeat 272px 112px transparent; }
body#ownerops .stack7 .col1, body#ownerops .stack7 .col2 { float:left;  }
body#ownerops .stack7 .col1 { width:460px; overflow-x:hidden; margin-top:170px; }
body#ownerops .stack7 .col2 { width:320px; margin-left:50px; margin-top:226px; }
body#ownerops .stack7 .col2 p { font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; }
body#ownerops .stack7 .col2 img.monocap { display:block; margin-left:16px; margin-top:116px; }
body#ownerops .stack7 strong { font:normal 16px RockwellStdBold, "Georgia", serif; margin-top:50px; margin-bottom:38px;  display:block; }
body#ownerops .stack7 ul { margin:0; padding:0; }
body#ownerops .stack7 ul li { background:url(../i/bullet_grey.jpg) no-repeat left 7px; list-style:none; padding-left:10px; font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; width:320px; margin-bottom:4px; }
body#ownerops .stack7 .col1 ul { margin-left:120px; }
body#ownerops .stack7 strong.leasing { background:url(../i/circle_leasing.jpg) no-repeat top left; width:400px; height:100px; }
body#ownerops .stack7 strong.leasing span { display:block; width:280px; left:118px; position:relative; top:56px; }
body#ownerops .stack7 strong.conditions { background:url(../i/circle_leasing.jpg) no-repeat top left; width:400px; height:100px; margin-bottom:-44px; }
body#ownerops .stack7 strong.conditions span { display:block; width:280px; left:118px; position:relative; top:16px; }
body#ownerops .stack7 strong.basics { background:url(../i/circle_basics.jpg) no-repeat top left; width:400px; height:100px; margin-bottom:-4px; }
body#ownerops .stack7 strong.basics span { display:block; width:280px; left:118px; position:relative; top:56px; }
body#ownerops .stack7 p { margin-left:290px; margin-bottom:16px; width:498px; }
body#ownerops .stack7 strong.other { margin-left:120px; width:498px; margin-bottom:20px; display:block; }
body#ownerops .stack7 p.other { margin-left:120px; width:298px; }
body#ownerops .stack7 strong.insurance { background:url(../i/circle_insurance.jpg) no-repeat top left; width:400px; height:100px; margin-bottom: -10px; margin-top: 120px; }
body#ownerops .stack7 strong.insurance span { display:block; width:280px; left:118px; position:relative; top:56px; }
body#ownerops .stack7 strong.tractor { margin-top:50px; margin-bottom:20px; }
body#ownerops .stack8 { margin-top:0px; }
body#ownerops .stack8 #panel3 { height:180px; }
body#ownerops .stack8 .leftnavGlobal { margin-top:-32px; }
body#ownerops .stack8 div {  height:500px;  margin-left:0px; background:url("../i/swiftemployeeshi5_mono2.jpg") no-repeat scroll 476px 170px transparent; }
body#ownerops .stack9 { position:relative; left:0px; width:960px; height:320px; top:-80px; }
body#ownerops .stack9 strong { font:normal 16px RockwellStdBold, "Georgia", serif; margin-top:78px; margin-bottom:38px;  display:block; }
body#ownerops .stack9 .col1, body#ownerops .stack9 .col2 { float:left;  }
body#ownerops .stack9 .col1 { width:600px; margin-left:168px; }
body#ownerops .stack9 .col1 ul { margin-top:80px; margin-left:260px;  }
body#ownerops .stack9 .col2 { width:448px; margin-left:0px; margin-top:74px; }
body#ownerops .stack9 .col2 p { font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; }
body#ownerops .stack9 .col2 img.monocap { display:block; margin-left:16px; margin-top:116px; }
body#ownerops .stack9 .col2 strong { margin-left:76px; }
body#ownerops .stack9 .col2 ul { margin-left:76px; margin-top:-24px; }
body#ownerops .stack9 strong.payscale { margin-left:120px; background:url(../i/circle_payscale.jpg) no-repeat 20px 10px; width:400px; height:105px; display:block;  }
body#ownerops .stack9 strong.payscale span  { display:block; left:139px; position:relative; top:74px; }
body#ownerops .stack9 ul { margin:0; padding:0; }
body#ownerops .stack9 ul li { background:url(../i/bullet_grey.jpg) no-repeat left 7px; list-style:none; padding-left:10px; font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; margin-bottom:4px; }
body#ownerops .stack9 ul li span { display:block; font-weight:bold; margin:0; }


body#ownerops .stack10 { width:960px; margin:0px auto 0; height:300px; background:url(../i/circle_drawing1_color.jpg) no-repeat 160px 34px; }
body#ownerops .stack10 strong { font:normal 16px RockwellStdBold, "Georgia", serif; margin-left:428px; margin-bottom:20px;  display:inline-block; }
body#ownerops .stack10 p { margin-left:428px; margin-top:14px; }
body#ownerops .stack10 ul { margin:0 0 0 428px; padding:0; height:156px; }
body#ownerops .stack10 ul li { background:url(../i/bullet_grey.jpg) no-repeat left 7px; list-style:none; padding-left:10px; font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; margin-bottom:4px; width:400px; }



body#ownerops .stack11 { width:960px; margin:0 auto; }
body#ownerops .stack11 strong { font:normal 16px RockwellStdBold, "Georgia", serif; margin-bottom:30px;  display:inline-block; }
body#ownerops .stack11 strong.benefits { margin-left:120px; background:url(../i/circle_benefits.jpg) no-repeat top left; width:400px; height:100px; display:block;  }
body#ownerops .stack11 strong.benefits span  { display:block; width:280px; left:136px; position:relative; top:54px; }
body#ownerops .stack11 p { position:relative; top:-54px; width:564px; left:256px; margin-bottom:16px; }
body#ownerops .stack11 p span { font-weight:bold; }
body#ownerops .stack11 p.w412 { width:412px; }
body#ownerops .stack11 ul { margin:0; padding:0; height:120px; position:relative; top:-64px; margin-left:280px; }
body#ownerops .stack11 ul li { background:url(../i/bullet_grey.jpg) no-repeat left 7px; list-style:none; padding-left:10px; font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; margin-bottom:4px; }



body#ownerops .stack11 strong { font:normal 16px RockwellStdBold, "Georgia", serif; margin-bottom:30px;  display:inline-block; }
body#ownerops .stack11 strong.benefits2 { margin-left:120px; background:url(../i/benefits2.png) no-repeat top left; width:400px; height:100px; display:block;  }
body#ownerops .stack11 strong.benefits2 span  { display:block; width:410px; left:136px; position:relative; top:30px; }

body#ownerops .stack11 strong.benefits3 span  { display:block; width:410px; left:256px; position:relative; top:0; }




body#ownerops .stack12 { position:relative; left:0px; width:960px; height:320px; top:-80px; }
body#ownerops .stack12 strong { font:normal 16px RockwellStdBold, "Georgia", serif; margin:78px 0 8px 120px; display:block; }
body#ownerops .stack12 p { margin-left:120px; width:690px; margin-bottom:10px; }
body#ownerops .stack12 ul { width:324px; margin-left:140px; }
body#ownerops .stack12 .col1, body#ownerops .stack12 .col2 { float:left;  }
body#ownerops .stack12 .col1 { width:512px; overflow-x:hidden; }
body#ownerops .stack12 .col1 ul { width:324px; margin-left:116px; }
body#ownerops .stack12 .col2 { width:448px; margin:0; }
body#ownerops .stack12 .col1 p { margin-left:120px; width:360px; margin-bottom:20px; }
body#ownerops .stack12 .col2 p { font:normal 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; width:320px; margin-bottom:20px; }
body#ownerops .stack12 .col2 img.monocap { display:block; margin-left:16px; margin-top:116px; }
body#ownerops .stack12 .col2 strong { margin-left:0px; }
body#ownerops .stack12 .col2 ul { width:324px; margin-left:0; }
body#ownerops .stack12 ul li { background:url(../i/bullet_grey.jpg) no-repeat left 7px; list-style:none; padding-left:16px; font:bold 12px/1.618em FS Albert, FSAlbertRegular, Arial, Verdana, "MS Trebuchet"; color:#504B46; margin-bottom:4px; }
body#ownerops .stack12 ul li.mid { background:none; margin:15px 0 15px -15px; font-weight:normal; }
body#ownerops .stack12 ul li span { display:block; font-weight:bold; margin:0; }

/* NEW TO TRUCKING
----------------------------------------*/

body#trucking img.truckinginstructor { position:absolute; top:1700px; left:0; }
body#trucking img.readytoapply { position:absolute; top:1990px; left:98px; z-index:10; }
body#trucking img.trucklesson { position:absolute; top:4378px; left:60px; }
body#trucking img.trucklesson2 { position:absolute; top:5450px; left:30px; }
body#trucking img.teamworkimg { position:absolute; top:6535px; left:100px; }
body#trucking img.capcolor { position:absolute; top:3308px; left:100px; }
body#trucking hr.separator { background:url(../i/hr_separator.jpg) repeat-x 0 0; width:960px; height:16px; margin:0; padding:0; border:0; }
body#trucking .maincontent a { color:#1e89f1; text-decoration:none; }
body#trucking a:hover { text-decoration:underline; }

body#trucking .maincontent ul#stack2 { margin-left:192px; margin-bottom:100px; }
body#trucking .maincontent ul#stack2 li { display:inline-block; list-style:none; width:312px; height:218px; float:left; }
body#trucking .maincontent ul#stack2 li.first { margin-right:64px; }

body#trucking .maincontent ul#stack5 { margin-left:192px; margin-bottom:100px; }
body#trucking .maincontent ul#stack5 { display:inline-block; list-style:none; width:312px; height:218px; float:left; }
body#trucking .maincontent ul#stack5 li.first { margin-right:64px; }
body#trucking .maincontent .stack5 ul#section4_ln a#on { background:url(../i/ln_newtrucking_140x210-2.png) no-repeat scroll 0 -65px transparent; }

body#trucking .stack7 ul#stack7 { display:inline-block; margin:0; padding:0; width:600px; position:relative; left: 302px; }
body#trucking .stack7 ul#stack7 li { display:inline-block; list-style:none; width:266px; float:left; padding-right:22px; }
body#trucking .stack7 ul#stack7 li.first { margin-right:20px; height:50px; }

body#trucking .stack1 {
width:960px;
height:580px;
position:relative;
top:32px;
background:url(../i/employeetablechat_drawing.jpg) no-repeat 390px 100px;
margin-bottom:28px;
}

body#trucking .stack1 h2 {
margin-bottom:44px;
position:relative;
left:100px;
}

body#trucking .stack1 h3 {
font:normal 16px/24px "Georgia", serif;
width:700px;
color:#65645f;
position:relative;
left:100px;
}

body#trucking .stack2 {
}

body#trucking .stack2 h4, body#trucking .stack3 h4, body#trucking .stack4 h4 {
font:bold 16px/1.618em Rockwell,"Georgia";
color:#333;
margin:0 0 3px;
}

body#trucking .stack2 p, body#trucking .stack3 p {
width:300px;
line-height:1.618em;
margin-bottom:14px;
}

body#trucking .stack3 {
}

body#trucking .stack5 h3 {
font:normal 16px/24px "Georgia", serif;
width:488px;
color:#65645f;
}

body#trucking .stack4 {
width:500px;
height:210px;
background:url(../i/driverlesson_drawing.jpg) no-repeat center left;
margin:0 0 20px 300px;
}

body#trucking .stack4 h4 {
margin-left:216px;
padding-top:50px;
}

body#trucking .stack4 p {
line-height:1.618em;
margin-left: 216px;
padding-top: 10px;
width: 254px;
}

body#trucking .stack5 {
width:960px;
margin-top:-8px;
}

body#trucking .stack5 div {
margin-bottom:0px;
}

body#trucking .stack5 .leftnavGlobal {
margin-top:0px; top:6px;
}

body#trucking .stack5 h2 {
width:470px;
height:85px;
margin:174px 0 54px 370px;
padding:0;
}

body#trucking .stack5 h3 {
margin:0px 0  68px 370px;
color: #65645F;
width:484px;
font: normal 16px/24px "Georgia";
}

body#trucking .stack5 h4 {
margin:0px 0 0px 370px;
color:#333;
width:484px;
font: bold 16px/1.618em Rockwell, "Georgia";
text-transform:capitalize;
margin-bottom:3px;
}

body#trucking .stack5 strong, body#trucking .stack5 p {
margin-left:370px;
width:510px;
margin-bottom:20px;
}

body#trucking .stack5 strong {
display:block;
margin-bottom:3px;
font:bold 16px/1.618 Rockwell,"Georgia", serif;
}

body#trucking .stack5 p {
margin-bottom:20px;
}

body#trucking .stack5 blockquote {
font-style:normal;
color:#1e1e1c;
margin-left:40px;
}

body#trucking .stack5 blockquote p {
font-weight:bold;
}

body#trucking .stack5 em {
padding-left:7px;
padding-bottom:20px;
display:block;
}

body#trucking .stack6 {
margin:0px 0 100px 370px;
width:488px;
}

body#trucking .stack6 h2 {
margin:50px 0 0 0px;
color: #333;
font: bold 16px/1.618em Rockwell, "Georgia";
text-transform:capitalize;
margin-bottom:3px;
}

body#trucking .stack6 p {
line-height:1.618em;
padding-top: 0px;
width: 494px;
}

body#trucking .stack7 { margin-bottom:100px; }
body#trucking .stack7 .hcard strong { font:bold 16px FSAlbertRegular, serif; color:#000; }
body#trucking .stack7 .hcard span.title { display:block; font-size:13px; color:#4b4a44; }
body#trucking .stack7 .hcard span.tel { display:block; font-weight:bold; }
body#trucking .stack7 .hcard span.street-address { display:block; }
body#trucking .stack7 .hcard { padding-left:68px; padding-top:20px; line-height:22px; }
body#trucking .stack7 .TN p.desc { padding-left:68px; line-height:20px; }
body#trucking .stack7 .AZ {
background:url(../i/circle_AZ.jpg) no-repeat top left;
}

body#trucking .stack7 .TN {
background:url(../i/circle_TN.jpg) no-repeat top left;
width:284px;
}

body#trucking .stack7 .ID {
background:url(../i/circle_ID.jpg) no-repeat top left;
}

body#trucking .stack7 .TX {
background:url(../i/circle_TX.jpg) no-repeat top left;
margin-left:20px;
}

body#trucking .stack7 .VA {
background:url(../i/va.png) no-repeat top left;
margin-left:20px;
}

body#trucking .stack8 {
margin-top:0px;
height:1000px;
}

body#trucking .stack13 {
margin-top:0px;
height:1600px;
}

body#trucking .stack13 div {
margin-bottom:0px;
}

body#trucking .stack13 .leftnavGlobal {
margin-top:0px; top:6px;
}

body#trucking .stack13 h2 {
width:485px;
height:85px;
margin:174px 0 -15px 370px;
padding:0;
}
body#trucking .stack13 h3 strong {
	display:block;
}
body#trucking .stack13 h3 > p {
	margin: 5px 0 5px 0;
	font:normal 16px/1.618em "Georgia";
}
body#trucking .stack13 ul {
	margin:15px 0 18px 19px;
}
body#trucking .stack13 h3 {
	width:500px;
	margin:14px 0 14px 370px;
	padding:0;
	font:normal 16px/1.618em "Georgia";
}
.stack13 .dates {
	margin-left:370px;
	padding-top:30px;
	font-family:FSAlbertRegular,Arial,Verdana,"MS Trebuchet";
	font-weight:normal;
	font-size:13px;
}
.stack13 .dates > strong {
	padding-top:30px;
	padding-bottom:15px;
	font:bold 16px Rockwell,"Georgia", serif;
}
.dateholder strong {
	font-family:FSAlbertRegular,Arial,Verdana,"MS Trebuchet";
	font-size:11px;
	display:block;
	padding-top:18px;
}
.dateholder {
	line-height:100%;
	font-family:FSAlbertRegular,Arial,Verdana,"MS Trebuchet";
	font-size:11px;
}
.dates .dateleft {
	font-weight:normal;
	float:left;
	width:270px;
	position:relative;
	top:18px;
	padding-bottom:70px;
}
.dates .dateright {
	padding-top:15px;
	font-weight:normal;
	float:left;
	padding-bottom:70px;
}


body#trucking .stack8 div {
margin-bottom:0px;
}

body#trucking .stack8 .leftnavGlobal {
margin-top:0px; top:6px;
}

body#trucking .veterans-stack { height:1000px; display:table; background:url("../i/military-branches-logos.png") no-repeat 20px 500px; width:100%; position:relative;}

body#trucking .veterans-stack .badgeVeterans{
	position:absolute;
	background:url(../i/free_training.png) no-repeat;
	width:140px;
	height:140px;
	top:105px;
	right:35px;
	z-index:200;
}


body#trucking .veterans-stack .leftnavGlobal { position:relative; top:180px; }
body#trucking .veterans-stack div p {
position:relative;
left:372px;
width:494px;
line-height:1.618em;
padding-top:0;
margin-bottom:18px;
}

body#trucking .stack8 h2 {
width:485px;
height:85px;
margin:174px 0 54px 370px;
padding:0;
}

body#trucking .veterans-stack h2 {
width:485px;
height:45px;
margin:174px 0 4px 370px;
padding:0;
}

body#trucking .stack8 h3, body#trucking .veterans-stack h3 {
margin:0px 0 64px 370px;
color: #65645F;
width:484px;
font: normal 16px/1.618em "Georgia";
}

body#trucking .veterans-stack h3 { font:21px MyriadProSemiboldCondensed,arial; text-transform:uppercase; margin-bottom:40px; }

body#trucking .stack8 strong, body#trucking .stack8 p {
margin-left:370px;
width:510px;
margin-bottom:20px;
}

body#trucking .stack8 strong {
display:block;
margin-bottom:3px;
font:bold 16px/1.618 Rockwell,"Georgia", serif;
}

body#trucking .stack8 p {
margin-bottom:20px;
}


#tableDiv{
	position:relative;
	width:331px;
	left:256px
}
	
.stack11 .tableOO{
	width:331px;
	border-top:2px solid #a1abaa;
	border-collapse:collapse;
	font-family:FSAlbertRegular,Arial,Verdana,"MS Trebuchet";
}


.stack11 .tableOO th{
	font-weight:normal;
	font-size:1em;
	padding:4px 6px 4px 9px;
	text-align:left;
	height:35px;
}

.stack11 .tableOO .th1{
	width:118px;
	height:28px;
	background-color:#8aa1ab;
	border-left:2px dashed #a1abaa;
	border-right:2px dashed #a1abaa;
}

.stack11 .tableOO .th2{
	width:88px;
	background-color:#b1bbbb;
    border-left:2px dashed #a1abaa;
}	

.stack11 .tableOO .th3{
	width:125px;
	height:28px;
	background-color:#b8b59b;
	border-right:2px dashed #a1abaa;
	border-left:2px dashed #a1abaa;
}
.stack11 .tableOO .td1{
	width:98px;
	height:20px;
	background-color:#bfc9c8;
	border-left:2px dashed #a1abaa;
	border-right:2px dashed #a1abaa;
	border-top:1px solid #a1abaa;
	padding-left:10px;
	text-align:left;
}

.stack11 .tableOO .td2{
	width:88px;
	height:20px;
	background-color:#d7d8d0;
	border-top:1px solid #a1abaa;
    border-left:2px dashed #a1abaa;
	text-align:left;
	padding: 7px 0 0 10px;
}

.stack11 .tableOO .td3{
	width:125px;
	height:20px;
	background-color:#d3d0bf;
	border-right:2px dashed #a1abaa;
	border-left:2px dashed #a1abaa;
	border-top:1px solid #a1abaa;
    text-align:left;
    padding: 7px 0 0 10px;
}