@charset "UTF-8";
/*
CSS Document
Written by Rene Morgan
for BayardAd.com
*/
body{font-size:75%;color:#222;background:#c7c3c0 url(../i/main_BG.gif) repeat-y fixed center 124px;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
#wrapper {
background:url(../i/shadow_tile.png) repeat-y 9px 0 transparent;
position:relative;
top:0;
width:1185px;
z-index:10;
margin:0 auto;
}

body#swift .maincontent strong, body#career .maincontent strong, body#offices .maincontent strong, body#trucking .maincontent strong, body#expdrivers .maincontent strong, body#ownerops .maincontent strong { color:#333; margin-bottom:3px; }
body#swift .maincontent a, body#career .maincontent a, body#offices .maincontent a, body#trucking .maincontent a, body#expdrivers .maincontent a, body#ownerops .maincontent a { color:#1E89F1; text-decoration:none; }
body#swift .maincontent a:hover, body#career .maincontent a:hover, body#offices .maincontent a:hover, body#trucking .maincontent a:hover, body#expdrivers .maincontent a:hover, body#ownerops .maincontent a:hover { color:#1E89F1; text-decoration:underline; }

body#swift p, body#career p, body#offices p, body#trucking p, body#expdrivers p, body#ownerops p, body#apply p {
font:12px/1.618em FSAlbertRegular,Arial,Verdana,"MS Trebuchet";
color:#504B46;
}

body#career #container {
background:#ecdfd6 url(../i/careerpaths_bg.jpg) repeat 0 0;
}

body#swift #container {
background:#fcf5e5 url(../i/swift_difference_bg.png) repeat 0 0;
}

body#expdrivers #container {
background:#e9ddcf url(../i/expdrivers_bg.jpg) repeat 0 0;
}

body#trucking #container {
background:#fdf9df url(../i/newtotrucking_bg.jpg) repeat 0 0;
}

body#apply #container, body#offices #container {
background:#e1d5c2 url(../i/applynow_bg.jpg) repeat 0 0;
}

body#ownerops #container {
background:#dfdacb url(../i/ownerops_bg.jpg) repeat 0 0;
}

#container {
width:960px;
min-height:1000px;
display:block;
background-color:#fff;
margin:0 auto;
}

#header {
position:fixed;
left:0;
top:0;
width:100%;
height:110px;
z-index:1000;
background:url(../i/header_bg_3x117.png) repeat-x 0 0;
}

body#swift #navMenu li.swift_difference,body#career #navMenu li.career_paths,body#offices #navMenu li.offices_terminals,body#trucking #navMenu li.new_trucking,body#expdrivers #navMenu li.experienced_drivers,body#ownerops #navMenu li.owner_operators {
background:#007eca url(../i/nav_bg_fill.jpg) repeat-x center center;
cursor:pointer;
}

#topnav {
width:866px;
height:20px;
display:block;
margin:0 auto;
}

#topnav ul {
float:right;
height:16px;
margin:0;
padding:5px 0 0;
width:414px;
}

#topnav li {
background:url(../i/topnav_vline_2x10.png) no-repeat right 1px;
display:inline-block;
height:20px;
list-style-type:none;
width:auto;
margin:0;
padding:0;
float:left;
}

.facebook_nav li a
	{
	padding-left:0;
	padding-right:0;
	}

#topnav li.last {
background:none;
padding-right:0;
}

#topnav li.last a {
	padding-right: 4px;
}

#topnav li a {
color:#a7d6fe;
display:table;
font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
font-size:9px;
height:18px;
text-decoration:none;
margin:0;
padding:0 16px;
}

#topnav li a:hover {
text-decoration:none !important;
height:18px;
}

#topnav li a.applynow {
padding-right:12px;
color:#c6c04f;
}

#masthead {
height:87px;
width:960px;
border:0;
position:relative;
margin:0 auto;
padding:0;
}

#masthead h1#logo {
text-indent:-1000em;
width:170px;
height:62px;
position:relative;
top:18px;
left:64px;
background:url(../i/logo_swift.png) no-repeat 0 0;
margin:0;
padding:0;
}

#masthead h1#logo a {
display:block;
width:170px;
height:62px;
}

#navigation {
height:90px;
left:300px;
position:absolute;
top:0;
width:960px;
}

#navMenu {
list-style:none outside none;
}

#navMenu li {
border:0 none;
float:left;
font:normal 10px Arial;
height:24px;
left:66px;
position:relative;
top:32px;
width:66px;
margin:0;
padding:10px;
cursor:pointer;
}

#navMenu li a {
z-index:20;
display:block;
width:66px;
height:24px;
position:relative;
color:#fff;
text-decoration:none;
}

#navMenu li a.swift_difference {
display:block;
width:66px;
height:24px;
color:#fff;
text-decoration:none;
text-indent:-1000em;
background:transparent url(../i/swift_difference_title_58x22.gif) no-repeat center center;
}

#navMenu li a.career_paths {
display:block;
width:66px;
height:24px;
color:#fff;
text-decoration:none;
text-indent:-1000em;
background:transparent url(../i/career_paths_title_38x22.gif) no-repeat center center;
}


#facebook {
	border-right: 2px dotted #9D9D9D;
    color: #004E82;
    float: left;
    height: 122px;
    margin-left: 387px;
    margin-top: 40px;
    padding-right: 35px;
    width: 64px;
}

#facebook_nav {
	color: #004E82;
    float: left;
	}

#facebook img {
	margin-top: 10px;
	margin-left: 10px;
}

#navMenu li a.offices_terminals {
display:block;
width:66px;
height:24px;
color:#fff;
text-decoration:none;
text-indent:-1000em;
background:transparent url(../i/offices_terminals_title_65x21.gif) no-repeat center center;
}

#navMenu li a.new_trucking {
display:block;
width:66px;
height:24px;
color:#fff;
text-decoration:none;
text-indent:-1000em;
background:transparent url(../i/newtotrucking_title_51x22.gif) no-repeat center center;
}

#navMenu li a.exp_drivers {
display:block;
width:66px;
height:24px;
color:#fff;
text-decoration:none;
text-indent:-1000em;
background:transparent url(../i/exp_drivers_title_66x22.gif) no-repeat center center;
}

#navMenu li a.owner_ops {
display:block;
width:66px;
height:24px;
color:#fff;
text-decoration:none;
text-indent:-1000em;
background:transparent url(../i/ownerops_title_57x22.gif) no-repeat center center;
}

#navMenu li .hover {
background:url(../i/nav_bg_over.jpg) no-repeat center center;
position:absolute;
width:86px;
height:44px;
left:0;
top:0;
z-index:0;
display:none;
}

#container .gutter {
width:960px;
height:150px;
display:block;
}

#container .gutter_temp {
width:960px;
height:110px;
display:block;
}

div#main {
width:960px;
margin:0 auto;
}

div#main:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}

#main .lcol {
display: block;
float: left;
height: 360px;
margin: 0;
padding: 0;
position: absolute;
top: 180px;
width: 270px;
z-index: 100;
}

#main .rcol {
display:block;
width:960px;
position:relative;
z-index:10;
}

body#swift .leftnavGlobal, body#career .leftnavGlobal, body#offices .leftnavGlobal, body#trucking .leftnavGlobal, body#apply .leftnavGlobal, body#trucking .stack5 .leftnavGlobal, body#career .stack9 .leftnavGlobal, body#expdrivers .leftnavGlobal, body#ownerops .leftnavGlobal, body#ownerops .stack6 .leftnavGlobal, body#ownerops .stack8 .leftnavGlobal {
width:270px;
height:289px !important;
display:block;
float:left;
border-right:2px solid #a59a8e;
padding:0;
position: relative;
top:40px;
z-index:101;
}

body#swift .lcol, body#career .lcol, body#swift .lcol, body#offices .lcol, body#trucking .lcol, body#expdrivers .lcol, body#ownerops .lcol, body#apply .lcol, body#trucking .stack5 .l {
position: relative;
top:0px;
}

#section1_ln li a,#section2_ln li a,#section3_ln li a,#section4_ln a,#section5_ln li a,#section6_ln li a, #section7_ln li a {
display:block;
text-indent:-1000em;
height:22px;
}
#section1_ln li, #section2_ln li, #section3_ln li, #section4_ln, #section5_ln li, #section6_ln li, #section7_ln li {
list-style:none;
margin:30px auto 30px auto;
padding:0;
}

/*centering leftnav*/

body#swift #section1_ln li {
margin:22px 0 30px 46px;
}

body#career #section2_ln li {
margin:0 0 30px 64px;
}

body#offices #section3_ln li {
margin:0 0 30px 50px;
}

body#trucking #section4_ln li {
margin:0 0 30px 70px;
}

body#expdrivers #section5_ln li {
margin:30px 0 0 64px;
}

body#expdrivers #section6_ln li {
}

body#apply #section7_ln li {
margin:30px 0 0 64px;
}

#section1_ln li a.apply_now {
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 -150px;
width:170px;
height:13px;
}

#section1_ln li a.apply_now:hover {
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 -163px;
}

#section2_ln li a.apply_now {
background:url(../i/ln_careerpaths_141x160.png) no-repeat 0 -133px;
height:13px;
}

#section2_ln li a.apply_now:hover {
background:url(../i/ln_careerpaths_141x160.png) no-repeat 0 -146px;
height:13px;
}

#section1_ln li.hed {
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 0;
height:20px;
text-indent:-1000em;
}

#section1_ln li.hed:hover {
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 -22px;
}

#section1_ln li a.our_story {
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 -61px;
height:13px;
}

#section1_ln li a.our_story:hover {
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 -74px;
}

#section1_ln li a.our_story.selected { 
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 -74px;
}

#section1_ln li a.swift_history {
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 -103px;
height:13px;
}

#section1_ln li a.swift_history:hover {
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 -116px;
}

#section1_ln li a.swift_history.selected { 
background:url(../i/ln_swiftdiff_170x177.png) no-repeat 0 -116px;
}

#section2_ln li.hed {
background:url(../i/ln_careerpaths_141x164.png) no-repeat 0 0;
height:20px;
text-indent:-1000em;
}

#section2_ln li.hed:hover {
background:url(../i/ln_careerpaths_141x164.png) no-repeat 0 -22px;
}

#section2_ln li a.career_paths {
background:url(../i/ln_careerpaths_141x164.png) no-repeat 0 -49px;
width:141px;
height:13px;
}

#section2_ln li a.career_paths:hover {
background:url(../i/ln_careerpaths_141x164.png) no-repeat 0 -63px;
}

#section2_ln li a.career_paths.selected {
background:url(../i/ln_careerpaths_141x164.png) no-repeat 0 -63px;
}

#section2_ln li a.mentors {
background:url(../i/ln_careerpaths_141x164.png) no-repeat 0 -93px;
width:141px;
height:13px;
}

#section2_ln li a.mentors:hover {
background:url(../i/ln_careerpaths_141x164.png) no-repeat 0 -108px;
}

#section2_ln li a.mentors.selected {
background:url(../i/ln_careerpaths_141x164.png) no-repeat 0 -108px;
}

#section3_ln li.hed {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 0;
height:20px;
width:163px;
text-indent:-1000em;
}

#section3_ln li.hed:hover {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -21px;
}

#section3_ln li a.terminal_map {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -65px;
height:13px;
width:163px;
}

#section3_ln li a.terminal_map:hover {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -80px;
}

#section3_ln li a.terminal_map.selected {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -80px;
}

#section3_ln li a.comfort_zones {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -108px;
height:13px;
}

#section3_ln li a.comfort_zones:hover {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -123px;
}

#section3_ln li a.comfort_zones.selected {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -123px;
}

#section3_ln li a.contact_recruiter {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -151px;
height:13px;
}

#section3_ln li a.contact_recruiter:hover {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -166px;
}

#section3_ln li a.contact_recruiter.selected {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -166px;
}

#section3_ln li a.apply_now {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -194px;
width:163px;
height:13px;
}

#section3_ln li a.apply_now:hover {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -209px;
width:163px;
height:13px;
}

#section3_ln li a.apply_now.selected {
background:url(../i/ln_officesterms_163x222.png) no-repeat 0 -209px;
width:163px;
height:13px;
}

#section4_ln li.hed {
background:url(../i/ln_newtrucking_140x210-2.png) no-repeat 0 0;
height:20px;
text-indent:-1000em;
}

#section4_ln li.hed:hover {
background:url(../i/ln_newtrucking_140x210-2.png) no-repeat 0 -22px;
}

#section4_ln li a.driving_schools {
background:url(../i/ln_newtrucking_140x210-2.png) no-repeat 0 -52px;
height:13px;
}

#section4_ln li a.driving_schools:hover {
background:url(../i/ln_newtrucking_140x210-2.png) no-repeat 0 -65px;
}

#section4_ln li a.driving_schools.selected {
background:url(../i/ln_newtrucking_140x210-2.png) no-repeat 0 -65px;
}

#section4_ln li a.for_veterans {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -96px transparent;
     height: 13px;
}

#section4_ln li a.for_veterans:hover {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -112px transparent;
}

#section4_ln li a.for_veterans.selected {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -65px transparent;
}

#section4_ln li a.comp_bene {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -137px transparent;
     height: 36px;
}

#section4_ln li a.comp_bene:hover {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -174px transparent;
}

#section4_ln li a.comp_bene.selected {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -174px transparent;
}

#section4_ln li a.hiring_events {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -265px transparent;
     height: 13px;
}

#section4_ln li a.hiring_events:hover {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -279px transparent;
}

#section4_ln li a.hiring_events.selected {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -279px transparent;
}

#section4_ln li a.apply_now {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -224px transparent;
     height: 13px;
}

#section4_ln li a.apply_now:hover {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -237px transparent;
     height: 13px;
}

#section4_ln li a.apply_now.selected {
     background: url(../i/ln_newtrucking_140x210-2.png) no-repeat 0px -196px transparent;
     height: 13px;
}

#section5_ln li.hed {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 0;
height:37px;
text-indent:-1000em;
cursor:pointer;
}

#section5_ln li.hed:hover {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -46px;
}

#section5_ln li a.driving_schools {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -112px;
height:13px;
}

#section5_ln li a.driving_schools:hover {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -126px;
}

#section5_ln li a.driving_schools.selected {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -126px;
}

#section5_ln li a.comp_bene {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -153px;
height:36px;
}

#section5_ln li a.comp_bene:hover {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -192px;
}

#section5_ln li a.comp_bene.selected {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -192px;
}

#section5_ln li a.apply_now {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -247px;
height:13px;
}

#section5_ln li a.apply_now:hover {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -263px;
height:13px;
}

#section5_ln li a.apply_now.selected {
background:url(../i/ln_expdrivers_133x277.png) no-repeat 0 -263px;
height:13px;
}

#section6_ln li.hed {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 0;
height:20px;
text-indent:-1000em;
}

#section6_ln li.hed:hover {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -23px;
}

#section6_ln li a.comp_bene {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -147px;
height:36px;
}

#section6_ln li a.comp_bene:hover {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -184px;
}

#section6_ln li a.comp_bene.selected {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -184px;
}

#section6_ln li a.lease_prog {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -56px;
height:13px;
}

#section6_ln li a.lease_prog:hover {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -70px;
}

#section6_ln li a.lease_prog.selected {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -70px;
}

#section6_ln li a.reqs {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -99px;
height:15px;
}

#section6_ln li a.reqs:hover {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -116px;
}

#section6_ln li a.reqs.selected {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -116px;
}

#section6_ln li a.apply_now {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -236px;
height:13px;
}

#section6_ln li a.apply_now:hover {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -254px;
}

#section6_ln li a.apply_now.selected {
background:url(../i/ln_ownerops_149x267.png) no-repeat 0 -254px;
}

#section7_ln li.hline { border-top:1px solid #636363; height:0; margin: 30px 0 46px 65px; width:148px; }

#section7_ln li a.regulations {
background:url(../i/section7_ln_regulations.png) no-repeat 0 0;
height:38px;
position:relative;
left:20px;
top:0;
display:block;
width:101px;
}

#section7_ln li a.regulations:hover {
background:url(../i/section7_ln_regulations.png) no-repeat 0 -42px;
height:38px;
}

#section7_ln li.hed {
background:url(../i/ln_applynow_151x380.png) no-repeat 0 0;
height:22px;
text-indent:-1000em;
cursor:pointer;
}

#section7_ln li.hed:hover {
background:url(../i/ln_applynow_151x380.png) no-repeat 0 -23px;
}

#section7_ln li a.contact_recruiter {
background:url(../i/ln_applynow_151x380.png) no-repeat 0 -58px;
height:14px;
}

#section7_ln li a.contact_recruiter:hover {
background:url(../i/ln_applynow_151x380.png) no-repeat 0 -73px;
}

#section7_ln li a.company_drivers {
background:url(../i/ln_applynow_151x380.png) no-repeat 0 -148px;
height:35px;
}

#section7_ln li a.company_drivers:hover {
background:url(../i/ln_applynow_151x380.png) no-repeat 0 -276px;
}

#section7_ln li a.owner_operators {
background:url(../i/ln_applynow_151x380.png) no-repeat 0 -208px;
height:35px;
}

#section7_ln li a.owner_operators:hover {
background:url(../i/ln_applynow_151x380.png) no-repeat 0 -336px;
}

.hs_area img.hs_visible {
display:block;
}

/* FOOTER
----------------------------------*/

.footer_drivers dd.first_title a,.footer_drivers dd.second_title a,.footer_drivers dd.third_title a {
display:block;
height:20px;
color:#000;
text-transform:uppercase;
font-size:14px;
color:#42566d;
}

.footer_drivers dd.first_title a:hover,.footer_drivers dd.second_title a:hover,.footer_drivers dd.third_title a:hover {
}

.footer_drivers {
display:block;
width:870px;
height:523px;
padding-left:90px;
padding-top:40px;
background:#eeeef0 url(../i/footer_drivers_bgshadow.jpg) repeat-x 0 0;
text-align:center;
margin:0 auto;
}

.footer_drivers dl.first,.footer_drivers dl.second,.footer_drivers dl.third {
display:block;
float:left;
width:272px;
height:430px;
margin-bottom:10px;
border:0;
padding:0;
}

.footer_drivers dd.first_title,.footer_drivers dd.second_title,.footer_drivers dd.third_title {
width:200px;
margin-top:20px;
margin-bottom:0px;
margin-left:30px;
}

.footer_drivers dd.first_dek,.footer_drivers dd.second_dek,.footer_drivers dd.third_dek {
margin-bottom:10px;
text-align:left;
font:normal 12px/1.618em FSAlbertRegular, Arial;
width:192px;
padding:10px 0;
margin-left:30px;
color:#777;
}

.footer_drivers dd.first_title {
font:bold 16px Rockwell, "Georgia";
text-align:left;
margin-left:30px;
}

.footer_drivers dl.first dt.first_img {
}

.footer_drivers dd.second_title {
font:bold 16px Rockwell, "Georgia";
text-align:left;
}

.footer_drivers dd.third_title {
font:bold 16px Rockwell, "Georgia";
text-align:left;
}

.footer_drivers dd.learnmore a { 
font:bold 10px Rockwell, "Georgia";
text-transform:uppercase;
color:#fff;
padding-top:3px;
display:block;
height:23px;
width:109px;
text-indent:10px;
text-align:left;
}
.footer_drivers dd.learnmore a:hover {
padding-top:4px;
text-decoration:none;
}

.footer_drivers dd.learnmore {
background:url(../i/arrows_blue.png) no-repeat 0 0;
width:109px;
height:24px;
display:block;
margin-left:30px;
}

.footer_drivers dd.learnmore:hover {
background:url(../i/arrows_blue.png) no-repeat 0 -23px;
}

#footer {
background:#c7c9c9 url(../i/footer_bg.jpg) repeat-x 0 0;
width:960px;
height:250px;
display:table;
color:#cdcecf;
position:relative;
margin:0 auto;
}

#footer hr { 
background-color: gray;
height: 2px;
margin: 0 auto 10px 60px;
padding: 0;
position: relative;
top: 178px;
width: 842px;
}

#footer small {
font-family:Rockwell, "Georgia", sans-serif;
font-size:11px;
padding-top:220px;
padding-left:66px;
color:#b1b0a7;
display:block;
text-transform:capitalize;
}

#footer ul {
float:right;
margin-top:40px;
margin-right:70px;
padding:0;
width:auto;
}

#footer li {
border-right:2px dotted #9D9D9D;
display:inline-block;
height:124px;
margin:0;
padding:0 40px;
float:left;
width:120px;
}

#footer li a {
font:normal 11px/1.618em FSAlbertRegular,"Georgia";
color:#a2a3a2;
margin:0 0 3px 0;
display:block;
text-decoration:none;
padding:0;
text-transform:uppercase;
}

#footer li a:hover {
text-decoration:none !important;
color:#00396D;
padding-bottom:0px;
margin-bottom:3px
}

#footer li.last {
border-right:none;
}