@charset "UTF-8";

/* PARALLAX GALLERY
----------------------------------------*/
.hs_container {
background-image:url(../i/bkg_Midsection2.jpg);
background-repeat:no-repeat;
clear:both;
cursor:auto;
height:960px;
overflow:hidden;
position:relative;
width:960px;
z-index:5;
}

.hs_container .hs_area {
overflow:hidden;
position:absolute;
cursor:pointer;
}

.hs_area img {
display:none;
left:0;
position:absolute;
top:0;
}

.hs_area1 {
height:195px;
margin-left:65px;
margin-top:80px;
width:226px;
}

.hs_area2 {
height:195px;
margin-left:660px;
margin-top:108px;
width:226px;
}

.hs_area3 {
height:195px;
margin-left:364px;
margin-top:414px;
width:226px;
}

.hs_area4 {
height:260px;
margin-left:66px;
margin-top:662px;
width:226px;
}

.hs_area5 {
height:260px;
margin-left:653px;
margin-top:415px;
width:226px;
}

.pxs_outer_container {
background-color:#fff;
background-image:url(../i/bkg_mainSlider.jpg);
background-repeat:no-repeat;
height:570px;
overflow:hidden;
width:960px;
}

.pxs_container {
min-height:570px;
overflow:hidden;
position:relative;
top:0;
width:960px;
z-index:100;
}

.pxs_bg {
background-color:transparent;
background-image:url(../i/transparency.png);
background-position:left top;
background-repeat:repeat;
}

.pxs_bg div {
background-color:transparent;
background-repeat:no-repeat;
height:570px;
left:0;
position:absolute;
top:0;
}

.pxs_bg .pxs_bg1 {
background-image:url(../i/slider_bkg.jpg);
background-repeat:repeat-x;
zoom:1;
opacity:0.4;
filter:alpha(opacity=40);
}

.pxs_slider_wrapper {
display:none;
width:960px;
}

ul.pxs_slider li a.learn_more { 
background:url(../i/arrows_blue.png) no-repeat 0 0;
width:109px;
height:21px;
display:block;
color:#fff;
font:bold 10px Rockwell, "Georgia", serif;
padding-top:3px;
text-transform:uppercase;
text-indent:12px;
margin-top:16px;
}

ul.pxs_slider li a.learn_more:hover { 
background:url(../i/arrows_blue.png) no-repeat 0 -23px;
padding-top:4px;
}

ul.pxs_slider li .teamwork {
border:medium none;
position:absolute;
z-index:101;
margin:140px 0 0 120px;
}

ul.pxs_slider li .teamwork span.header {
color:#273B47;
font:400 normal 42px Currency, "Georgia";
width:378px;
height:30px;
display:block;
}

ul.pxs_slider li .respect {
border:medium none;
position:absolute;
z-index:101;
margin:150px 0 0 120px;
}

ul.pxs_slider li .respect span.header {
color:#1C2646;
font:400 normal 42px Currency, "Georgia";
width:245px;
height:29px;
display:block;
}

ul.pxs_slider li .winning {
border:medium none;
position:absolute;
z-index:101;
margin:140px 0 0 120px;
}

ul.pxs_slider li .winning span.header {
color:#734E2C;
font:400 normal 42px/42px Currency, "Georgia";
width:283px;
height:71px;
display:block;
}

ul.pxs_slider li .balance {
border:medium none;
position:absolute;
z-index:101;
margin:150px 0 0 120px;
}

ul.pxs_slider li .balance .header {
color:#1C2646;
font:400 normal 42px/42px Currency, "Georgia";
width:245px;
height:29px;
display:block;
}

ul.pxs_slider li p.subheaders {
color:#414040;
font:italic normal 24px/27px AdobeCaslonProBoldItalic,"Times New Roman",serif;
margin-top:40px;
width:250px;
height:60px;
display:block;
}

ul.pxs_slider li p {
margin-top:20px;
width:340px;
color: #65645F;
font: 13px/1.618em "Georgia",serif;
position: relative;
}

ul.pxs_thumbnails {
position:absolute;
right:2000em;
}

ul.pxs_thumbnails li {
display:inline-block;
margin:0;
padding:30px 30px 0 0;
}

ul.pxs_thumbnails li img {
border:5px solid #E5D9C9;
box-shadow:1px 1px 7px #555;
cursor:pointer;
zoom:1;
opacity:0.6;
filter:alpha(opacity=60);
}

ul.pxs_thumbnails li.selected img {
border:5px solid #E1D1BC;
zoom:1;
opacity:1.0;
filter:alpha(opacity=100);
}

.pxs_navigation span {
border-radius:4px 4px 4px 4px;
cursor:pointer;
height:60px;
zoom:1;
opacity:1.0;
filter:alpha(opacity=100);
position:absolute;
top:240px;
width:30px;
}

.pxs_navigation span:hover {
zoom:1;
opacity:0.6;
filter:alpha(opacity=60);
}

.pxs_navigation span.pxs_prev {
background-image:url(../i/prev.png);
background-position:center center;
background-repeat:no-repeat;
left:12px;
}

.pxs_navigation span.pxs_next {
background-image:url(../i/next.png);
background-position:center center;
background-repeat:no-repeat;
right:10px;
}

.pxs_loading {
background:url(../i/icons/ajax-loader.gif) no-repeat scroll 10px 50% transparent;
left:50%;
margin-left:-20px;
position:absolute;
text-align:left;
top:220px;
width:54px;
height:54px;
}

.pxs_loading span {
font-size:13px;
}

.pxs_loading span a:hover {
color:#87ACB8;
font-weight:700;
text-decoration:underline;
}

.slider_info {
left:560px;
max-height:400px;
position:absolute;
top:100px;
width:290px;
}

.slider_header {
color:#862F48;
display:block;
font-size:44px;
}

.slider_text {
color:#292524;
font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
font-size:12px;
line-height:16px;
}

dl.slide1 dd.subhead,dl.slide2 dd.subhead,dl.slide3 dd.subhead,dl.slide4 dd.subhead {
width:263px;
height:50px;
display:block;
text-indent:-1000em;
background:url(../i/hp_subheader_1.png) no-repeat 0 0;
}

dl.slide1 dd,dl.slide2 dd,dl.slide3 dd,dl.slide4 dd {
font:normal 14px "Times New Roman", serif;
line-height:24px;
width:332px;
}

dl.slide1 {
height:570px;
width:960px;
background:url(../i/graphic1.png) no-repeat 0 0;
position:relative;
margin:0;
padding:0;
}

dl.slide1 dt.teamwork {
width:372px;
height:31px;
display:block;
font:normal 40px CURRENCY,"Georgia",serif; 
position:absolute;
top:170px;
left:90px;
}

dl.slide1 dd.subhead {
position:absolute;
top:226px;
left:50px;
}

dl.slide1 dd {
position:absolute;
top:300px;
left:50px;
}

dl.slide2 {
height:570px;
width:960px;
background:url(../i/graphic2.png) no-repeat 0 0;
position:relative;
margin:0;
padding:0;
}

dl.slide2 dt.respect {
width:311px;
height:38px;
display:block;
text-indent:-1000em;
background:url(../i/hp_header_2.png) no-repeat 0 0;
position:absolute;
left:510px;
top:157px;
}

dl.slide3 {
height:570px;
width:960px;
background:url(../i/graphic3.png) no-repeat 0 0;
position:relative;
margin:0;
padding:0;
}

dl.slide3 dt.winning {
width:221px;
height:65px;
display:block;
text-indent:-1000em;
background:url(../i/hp_header_3.png) no-repeat 0 0;
position:absolute;
left:130px;
top:140px;
}

dl.slide3 dd.subhead {
position:absolute;
left:90px;
top:230px;
}

dl.slide3 dd {
position:absolute;
left:90px;
top:310px;
}

dl.slide4 {
height:570px;
width:960px;
background:url(../i/graphic4.png) no-repeat 0 0;
position:relative;
margin:0;
padding:0;
}

dl.slide4 dt.balance {
width:244px;
height:29px;
display:block;
text-indent:-1000em;
background:url(../i/hp_header_4.png) no-repeat 0 0;
position:absolute;
left:510px;
top:157px;
}

.pxs_container ul,.pxs_container dl {
list-style:none outside none;
margin:0;
padding:0;
}

ul.pxs_slider,div.pxs_slider {
height:570px;
left:0;
position:absolute;
top:-30px;
}

ul.pxs_slider li,.pxs_slider dl {
float:left;
height:570px;
position:relative;
}

ul.pxs_slider li img,.pxs_slider dl img {
border:medium none;
display:block;
margin:0;
}

ul.pxs_slider li .respect,ul.pxs_slider li .balance {
border:medium none;
position:absolute;
z-index:101;
margin:140px 0 0 495px;
}

.pxs_loading span a:link,.pxs_loading span a:visited {
color:#87ACB8;
font-weight:700;
text-decoration:none;
}

dl.slide2 dd.subhead,dl.slide4 dd.subhead {
position:absolute;
left:470px;
top:220px;
}

dl.slide2 dd,dl.slide4 dd {
position:absolute;
left:470px;
top:300px;
}