@charset "UTF-8";
/*
CSS Document
Written by Rene Morgan
for BayardAd.com
*/

body {font: 12pt "New Century Schoolbook", "Times New Roman", TimesNR, Times, serif;}
body #container {margin-bottom: 1em;}
body #main {margin: 0 5%; padding: 0; position: static;}
body #header {display: none !important;}
body #footer { margin-top:0;}
body img { visibility:hidden; }
body .maincontent a { display:none; }
body .footer_drivers {display: none !important;}
body .lcol, body .leftnavGlobal { display:none !important; visibility:hidden; }
a[href]:after {content: " [" attr(href) "]"; font-size: smaller;}