@charset "UTF-8";
/*
CSS Document
Written by Rene Morgan
for BayardAd.com
*/

h2 { color:#2d3c52; font:normal 27px MyriadProSemiboldCondensed, arial; text-transform:uppercase; }

/*

@font-face {
    font-family: 'AdobeCaslonProBoldItalic';
    src: url('../f/acaslonpro-bolditalic-webfont.eot');
    src: url('../f/acaslonpro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/acaslonpro-bolditalic-webfont.woff') format('woff'),
         url('../f/acaslonpro-bolditalic-webfont.ttf') format('truetype'),
         url('../f/acaslonpro-bolditalic-webfont.svg#AdobeCaslonProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AdobeCaslonProRegular';
    src: url('../f/acaslonpro-regular-webfont.eot');
    src: url('../f/acaslonpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/acaslonpro-regular-webfont.woff') format('woff'),
         url('../f/acaslonpro-regular-webfont.ttf') format('truetype'),
         url('../f/acaslonpro-regular-webfont.svg#AdobeCaslonProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ImprintMTShadowRegular';
    src: url('../f/imprisha-webfont.eot');
    src: url('../f/imprisha-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/imprisha-webfont.woff') format('woff'),
         url('../f/imprisha-webfont.ttf') format('truetype'),
         url('../f/imprisha-webfont.svg#ImprintMTShadowRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreScholaRegular';
    src: url('../f/texgyreschola-regular-webfont.eot');
    src: url('../f/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/texgyreschola-regular-webfont.woff') format('woff'),
         url('../f/texgyreschola-regular-webfont.ttf') format('truetype'),
         url('../f/texgyreschola-regular-webfont.svg#TeXGyreScholaRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'texgyreschola-regular';
	src: url('../f/texgyreschola-regular.eot');
	src: local('☺'), url('../f/texgyreschola-regular.woff') format('woff'), url('../f/texgyreschola-regular.ttf') format('truetype'), url('../f/texgyreschola-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'texgyreschola-bold';
	src: url('../f/texgyreschola-bold.eot');
	src: local('☺'), url('../f/texgyreschola-bold.woff') format('woff'), url('../f/texgyreschola-bold.ttf') format('truetype'), url('../f/texgyreschola-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'MuseoSlab500';
    src: url('../f/museo_slab_500-webfont.eot');
    src: url('../f/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/museo_slab_500-webfont.woff') format('woff'),
         url('../f/museo_slab_500-webfont.ttf') format('truetype'),
         url('../f/museo_slab_500-webfont.svg#MuseoSlab500') format('svg');
    font-weight: normal;
    font-style: normal;
}

*/

@font-face {
    font-family: 'RockwellStdBold';
    src: url('../f/rockwellstd-bold-webfont.eot');
    src: url('../f/rockwellstd-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/rockwellstd-bold-webfont.woff') format('woff'),
         url('../f/rockwellstd-bold-webfont.ttf') format('truetype'),
         url('../f/rockwellstd-bold-webfont.svg#RockwellStdBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rockwell';
    src: url('../f/Rockwell.eot');
    src: url('../f/Rockwell.eot?#iefix') format('embedded-opentype'),
         url('../f/Rockwell.woff') format('woff'),
         url('../f/Rockwell.otf') format('opentype'),
         url('../f/Rockwell.ttf') format('truetype'),
         url('../f/Rockwell.svg#Rockwell') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProBold';
    src: url('../f/myriadpro-bold-webfont.eot');
    src: url('../f/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/myriadpro-bold-webfont.woff') format('woff'),
         url('../f/myriadpro-bold-webfont.ttf') format('truetype'),
         url('../f/myriadpro-bold-webfont.svg#MyriadProBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'CURRENCY';
	src: url('../f/CURRENCY.eot');
	src: local('☺'), url('../f/CURRENCY.woff') format('woff'), url('../f/CURRENCY.ttf') format('truetype'), url('../f/CURRENCY.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'FSAlbertRegular';
    src: url('../f/fs_albert-webfont.eot');
    src: url('../f/fs_albert-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/fs_albert-webfont.woff') format('woff'),
         url('../f/fs_albert-webfont.ttf') format('truetype'),
         url('../f/fs_albert-webfont.svg#FSAlbertRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProSemiboldCondensed';
    src: url('../f/myriadpro-semiboldcond-webfont.eot');
    src: url('../f/myriadpro-semiboldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('../f/myriadpro-semiboldcond-webfont.woff') format('woff'),
         url('../f/myriadpro-semiboldcond-webfont.ttf') format('truetype'),
         url('../f/myriadpro-semiboldcond-webfont.svg#MyriadProSemiboldCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}