.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.heading-separator {
  min-height: 10px;
  background-color: #ffc847; }

.mobile-logo, .btnGroup-mobile {
  display: none; }

.form-control {
  display: block;
  width: 100%;
  padding: 4px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #999898;
  background-color: #fff;
  background-image: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.form-control-btn {
  width: 100%;
  padding: 15px 10px;
  font-family: "HelveticaNeueW01-77BdCn_692722";
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  color: #0a5992;
  text-align: center;
  border: 0;
  outline: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fec90e+0,fdb307+52 */
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fec90e+50,fdb307+53 */
  background: #fec90e;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiNmZWM5MGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MyUiIHN0b3AtY29sb3I9IiNmZGIzMDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #fec90e 50%, #fdb307 53%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fec90e), color-stop(53%, #fdb307));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fec90e 50%, #fdb307 53%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fec90e 50%, #fdb307 53%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fec90e 50%, #fdb307 53%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fec90e 50%, #fdb307 53%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec90e', endColorstr='#fdb307',GradientType=0 );
  /* IE6-8 */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }

select.form-control {
  max-width: 100%;
  height: 30px; }

.top-container {
  min-height: 855px; }

.landscape-container {
  min-height: 734px;
  background: url(../images/landscape2.jpg) no-repeat;
  background-size: cover; }

.landscape-wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative; }

.top-container-wrap {
  min-height: 855px;
  position: relative; }

.desktop-logo {
  width: 100%;
  max-width: 202px;
  min-height: 87px;
  background: url(../images/swift-logo.png) no-repeat top center;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px; }

.main-description {
  width: 100%;
  max-width: 381px;
  min-height: 458px;
  position: absolute;
  left: 0;
  z-index: 10;
  color: #fff; }
  .main-description h1 {
    font-family: "HelveticaNeueW01-77BdCn_692722";
    font-size: 76px;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-weight: normal; }
  .main-description h2 {
    font-family: "Helvetica LT W01 Light Cond";
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: #ffc847;
    line-height: 0.8;
    letter-spacing: 33px;
    font-weight: normal; }
  .main-description h3 {
    font-family: "HelveticaNeueW01-77BdCn_692722";
    font-size: 108px;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-weight: normal; }
  .main-description .primary-description {
    margin-bottom: 5px; }
  .main-description .secondary-description {
    font-family: Arial;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px; }

.text-separator {
  width: 100%;
  max-width: 381px;
  min-height: 30px;
  background: url(../images/swift-separator.png) no-repeat top center;
  margin: 0 auto; }

.container-form {
  width: 100%;
  max-width: 390px;
  min-height: 734px;
  background-color: rgba(12, 94, 152, 0.4);
  position: absolute;
  right: 0; }

.form-wrap {
  padding: 40px 45px 0 45px; }

.form-heading h1 {
  font-family: "HelveticaNeueW01-77BdCn_692722";
  font-size: 48px;
  color: #ffc847;
  text-transform: uppercase;
  text-align: center;
  margin: 0; }

.form-heading p {
  font-family: Arial;
  color: #fff;
  text-align: center;
  font-size: 14px;
  margin-top: 0; }

.firstname-container {
  float: left;
  width: 49%;
  margin-right: 6px; }

.lastname-container {
  float: left;
  width: 49%; }

.container-figure {
  width: 100%;
  max-width: 762px;
  min-height: 507px;
  position: absolute;
  left: 50%;
  margin-left: -381px;
  bottom: 0;
  background: url(../images/truck1.png) no-repeat bottom center; }

.man-figure {
  width: 244px;
  height: 265px;
  position: absolute;
  left: 135px;
  bottom: 0;
  background: url(../images/man1.png) no-repeat top center; }

.middle-container {
  max-width: 1200px;
  margin: 0 auto; }
  .middle-container h2 {
    font-family: "HelveticaNeueW01-77BdCn_692722";
    text-transform: uppercase;
    color: #0a5992;
    font-size: 32px; }
  .middle-container .benefits-sections ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .middle-container .benefits-sections li {
    float: left;
    width: 16.66%;
    max-height: 183px; }
  .middle-container .benefits-sections .item1 .section-wrap {
    background: url(../images/benefits1.jpg) no-repeat;
    background-size: cover; }
  .middle-container .benefits-sections .item2 .section-wrap {
    background: url(../images/benefits2.jpg) no-repeat;
    background-size: cover; }
  .middle-container .benefits-sections .item3 .section-wrap {
    background: url(../images/benefits3.jpg) no-repeat;
    background-size: cover; }
  .middle-container .benefits-sections .item4 .section-wrap {
    background: url(../images/benefits4.jpg) no-repeat;
    background-size: cover; }
  .middle-container .benefits-sections .item5 .section-wrap {
    background: url(../images/benefits5.jpg) no-repeat;
    background-size: cover; }
  .middle-container .benefits-sections .item6 .section-wrap {
    background: url(../images/benefits6.jpg) no-repeat;
    background-size: cover; }
  .middle-container .benefits-sections .section-wrap {
    position: relative;
    min-height: 183px;
    margin-right: 10px; }
  .middle-container .benefits-sections .section-text {
    font-family: "HelveticaNeueW01-77BdCn_692722";
    text-align: center;
    padding: 15px 0 0 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 24px; }
  .middle-container .benefits-sections .item6 .section-wrap {
    margin-right: 0; }

.hr-separator {
  margin: 40px 0;
  border: 0;
  border-bottom: 1px solid #eee;
  background-color: #eee; }

.bottom-container {
  max-width: 1200px;
  margin: 0 auto; }
  .bottom-container h2 {
    text-transform: uppercase;
    color: #0a5992; }
  .bottom-container .left-side {
    float: left;
    width: 63%; }
    .bottom-container .left-side h2 {
      font-family: "HelveticaNeueW01-77BdCn_692722";
      font-size: 32px;
      margin: 0; }
    .bottom-container .left-side p {
      font-family: Arial;
      font-size: 18px;
      color: #666666;
      line-height: 26px;
      padding-right: 25px; }
  .bottom-container .right-side {
    float: left;
    width: 37%; }
    .bottom-container .right-side h3 {
      font-family: "HelveticaNeueW01-77BdCn_692722";
      font-size: 70px;
      color: #0a5992;
      margin: 0;
      text-transform: uppercase; }
    .bottom-container .right-side h4 {
      font-family: "HelveticaNeueW01-77BdCn_692722";
      font-size: 18px;
      color: #0a5992;
      margin: 0;
      text-transform: uppercase; }

.footer-container {
  width: 100%;
  max-width: 100%;
  min-height: 277px;
  background-color: #0a5992;
  margin: 0 auto; }
  .footer-container .footer-wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px; }
  .footer-container p {
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff; }
  .footer-container ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .footer-container ul li {
      float: left; }
    .footer-container ul a {
      font-family: Arial, sans-serif;
      font-size: 14px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase; }
    .footer-container ul span {
      margin: 0 10px;
      color: #fff; }

@media screen and (max-width: 1600px) {
  .landscape-container {
    background-size: auto;
    background-position: top center; } }

@media screen and (max-width: 1200px) {
  .container-figure {
    background-size: 100%;
    max-width: 600px;
    min-height: 340px;
    margin-left: -300px; }
  .main-description {
    left: 15px; }
  .middle-container {
    padding: 0 15px; }
    .middle-container .benefits-sections li {
      width: 33.33%;
      margin-bottom: 10px; }
    .middle-container .benefits-sections .item3 .section-wrap {
      margin-right: 0; }
  .bottom-container {
    padding: 0 15px; }
    .bottom-container .right-side h3 {
      font-size: 57px; }
    .bottom-container .right-side h4 {
      font-size: 16px; }
  .footer-container .footer-wrap {
    width: auto;
    padding: 30px 15px 0 15px; } }

@media screen and (max-width: 997px) {
  .container-figure {
    max-width: 540px;
    min-height: 310px;
    margin-left: -270px; }
  .bottom-container .left-side {
    width: 58%; }
  .bottom-container .left-side-wrap {
    padding-right: 15px; }
  .bottom-container .right-side {
    width: 42%; } }

@media screen and (max-width: 800px) {
  .container-form {
    max-width: 340px; }
  .form-wrap {
    padding: 15px 15px 0 15px; } }

@media screen and (max-width: 767px) {
  .top-container-wrap {
    min-height: 830px; }
  .landscape-container {
    background: url(../images/landscape2_m.jpg) no-repeat;
    background-position: 0 50%; }
  .main-description {
    left: 50%;
    margin-left: -190px; }
  .mobile-logo {
    display: block;
    width: 118px;
    height: 54px;
    margin: 15px auto;
    background: url(../images/swift-logo.png) no-repeat top center;
    background-size: 100%; }
  .desktop-logo {
    display: none; }
  .container-figure {
    background: url(../images/truck1_m.png) no-repeat;
    background-size: 100%;
    margin-left: -240px;
    max-width: 480px;
    min-height: 320px; }
  .man-figure {
    background: url(../images/man1_m.png) no-repeat;
    background-size: 100%;
    width: 100px;
    height: 195px;
    left: 100px; }
  .firstname-container {
    float: none;
    width: auto;
    margin-right: 0; }
  .lastname-container {
    float: none;
    width: auto; }
  .bottom-container .left-side {
    float: none;
    width: auto; }
    .bottom-container .left-side p {
      padding-right: 0; }
  .bottom-container .left-side-wrap {
    padding-right: 0; }
    .bottom-container .left-side-wrap h2 {
      font-size: 30px; }
  .bottom-container .right-side {
    float: none;
    width: auto;
    text-align: center;
    padding: 20px 0; }
    .bottom-container .right-side h3 {
      font-size: 56px; }
    .bottom-container .right-side h4 {
      font-size: 18px; }
  .container-form {
    width: 100%;
    max-width: 394px;
    min-height: 0;
    background-color: #0c5e98;
    position: static;
    right: 0;
    margin: 0 auto; }
  .form-wrap {
    padding: 10px; }
  .footer-container .footer-wrap {
    padding: 10px 10px 0 10px; }
  .hr-separator {
    margin: 20px 0; }
  .btnGroup-mobile {
    display: block;
    margin: 0 auto;
    background-color: #0c5e98;
    padding: 10px 5px; }
    .btnGroup-mobile .grouBtn-wrap {
      max-width: 320px;
      margin: 0 auto; }
    .btnGroup-mobile a {
      font-size: 18px;
      float: left;
      max-width: 150px;
      padding: 9px 0;
      text-decoration: none; }
    .btnGroup-mobile #callBtn {
      margin-right: 10px; } }

@media screen and (max-width: 568px) {
  .middle-container {
    padding: 0 10px; }
    .middle-container .benefits-sections li {
      width: 50%; }
    .middle-container .benefits-sections .item2 .section-wrap {
      margin-right: 0; }
    .middle-container .benefits-sections .item3 .section-wrap {
      margin-right: 10px; }
    .middle-container .benefits-sections .item4 .section-wrap {
      margin-right: 0; } }

@media screen and (max-width: 480px) {
  .container-figure {
    background-size: cover;
    background-position: center;
    margin-left: 0;
    left: 0; }
  .man-figure {
    left: 10px; }
  .main-description {
    left: 0;
    margin-left: 0;
    max-width: 100%; }
    .main-description .primary-description {
      margin-top: 25px;
      padding: 0 10px; }
    .main-description h1 {
      font-size: 60px;
      text-align: center; }
    .main-description h2 {
      font-size: 48px;
      letter-spacing: 15px; }
    .main-description h3 {
      font-size: 86px;
      text-align: center; }
    .main-description .secondary-description {
      padding: 0 10px; }
  .text-separator {
    background-size: 100%;
    max-width: 300px;
    margin: 0 auto; }
  .middle-container .benefits-sections .section-text {
    padding: 40px 0 0 0;
    font-size: 17px; }
  .bottom-container {
    padding: 0; }
    .bottom-container .left-side {
      padding: 0 10px; }
  .footer-container {
    min-height: 200px; }
    .footer-container p {
      font-family: Arial;
      font-size: 11px;
      text-transform: uppercase;
      color: #fff; } }

/*# sourceMappingURL=main.css.map */